---
import Linea from "../../public/svg/linea.astro";
import Identificador from "../../public/svg/identificador.astro";
const {id, class:className} = Astro.props;
---

<div id={id} class=`flex flex-col items-center mt-5 md:mt-16 bg-gray-100 py-4 ${className}`>
  <div class="title-bgSSS p-3">
    <h1 class="section-title font-bold mb-1">¿Quiénes somos?</h1>
    <Linea/>
  </div>
  <div class="grid grid-cols-5 gap-2 my-5 mx-32">
    <p class="text-3xl text-justify col-span-3 2xl:pl-20">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque consequatur, porro illum numquam consequuntur corporis temporibus minus deleniti. Ratione, fugit est. Ex repellat illo corporis ducimus deserunt autem molestias blanditiis.
      Tempore tempora dolor sit consequuntur! Neque beatae aliquam enim amet in laudantium inventore quis, ducimus veritatis vitae culpa corrupti quod! Iure recusandae eveniet maxime reiciendis molestias, sit quas nam quidem.
      Nam, id dolores assumenda quibusdam nisi sapiente laudantium, distinctio atque esse obcaecati aspernatur, error quam dolorum quae quaerat accusamus cum? Nisi at eum cumque ab laudantium id doloremque voluptate. Illum?
    </p>
    <Identificador class="max-h-56 mx-auto col-span-2"/>
  </div>
</div>

