---
import Linea from "../../public/svg/linea.astro";
import Identificador from "../../public/svg/identificador.astro";
const {id, class:className} = Astro.props;
---

<section id={id} class=`flex flex-col md:flex-row items-center mt-7 bg-gray-100 py-10 ${className}` >
  <div class="col-md-8 pl-24">
    <div class="pb-10">
      <h1 class="section-title font-bold mb-1 text-center">¿Quiénes somos?</h1>
      <Linea class="max-w-[28rem] mx-auto"/>
    </div>
    <div>
      <p class="text-3xl text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque consequatur, porro illum numquam consequuntur corporis temporibus minus deleniti. Ratione, fugit est. Ex repellat illo corporis ducimus deserunt autem molestias blanditiis.
        Tempore tempora dolor sit consequuntur! Neque beatae aliquam enim amet in laudantium inventore quis, ducimus veritatis vitae culpa corrupti quod! Iure recusandae eveniet maxime reiciendis molestias, sit quas nam quidem.
        Nam, id dolores assumenda quibusdam nisi sapiente laudantium, distinctio atque esse obcaecati aspernatur
      </p>
    </div>
  </div>

  <div class="my-5s col-md-4">
    <Identificador class="min-h-40 max-h-72 mx-auto"/>
  </div>
</section>

