---
import Linea from "../../public/svg/linea.astro";
import Identificador from "../../public/svg/identificador.astro";
const {id, class:className} = Astro.props;
---

<div id={id} class=`flex flex-col items-center  mt-10 md:mt-16 ${className}`>
  <div class="title-bg p-3">
    <h1 class="section-title font-bold mb-1">¿Quiénes somos?</h1>
    <Linea/>
  </div>
  <div class="grid grid-cols-3 gap-4 py-10 m-3 bg-slate-950s">
    <p class="text-white text-3xl col-span-2 flex items-center p-3 text-justify">
      El Instituto Nacional es una entidad pionera comprometida con la
      representación de las diversas culturas colombianas. Nos destacamos como un
      espacio colaborativo, inter y transdisciplinario, consolidándonos como un
      instituto nacional integral. Nuestro equipo de profesores lidera en
      investigación e innovación, contribuyendo al liderazgo académico nacional y
      global en el marco del Plan de Gestión y Desarrollo 2024.
    </p>
    <Identificador/>
  </div>
</div>

