---
import Linea from "../../public/svg/linea.astro";
import Identificador from "../../public/svg/identificador.astro";
const { id, class: className } = Astro.props;
---

<div
  id={id}
  class=`flex flex-col  items-center mt-5 md:mt-16 bg-gray-100 pt-4 md:py-10 ${className}`
>
  <div class="scol-md-9 mx-20">
    <div>
      <h1 class="section-title font-bold mb-1 text-center">¿Quiénes somos?</h1>
      <Linea class="max-w-[28rem] mx-auto" />
    </div>
    <div class="scol-md-3">
      <Identificador class="w-[300px] mx-auto" />
    </div>
    <div class="text-about text-2xl text-justify grid md:grid-cols-2 gap-10">
      <div>
        <p>
          El Proyecto Instituto Nacional de Investigación, Innovación y Política
          Educativa consiste en el acto de creación de un espacio colaborativo
          inter y transdisciplinar, desde el modelo intersedes. Este instituto
          es concebido como interlocutor en materia de educación en procesos
          internos de la universidad, y de ésta con los distintos actores de los
          territorios. Por esta razón, el Proyecto Instituto Nacional constituye
          en una estrategia para las culturas en comunicación, de donde surge su
          abreviatura Cuenco. Esta abreviatura rinde homenaje al profesor Jesús
          Martín Barbero quien, en su momento, propuso dar este nombre a un
          instituto de comunicación para el encuentro entre culturas que
          dialogan con un propósito común. Desde la perspectiva del Dao la
          utilidad de un recipiente reside en el vacío, dada su capacidad de
          albergar un contenido (Tiao Chang, 2011).
        </p>
        <p>
          En consecuencia, Cuenco es una provocación a la academia para que se
          vacíe de preconcepciones y de la presunción de poseer la verdad y el
          conocimiento, con el objeto de dar cabida a diálogos de saberes en el
          marco de encuentros intersedes. Así, culturas en comunicación
          representa la diversidad de los territorios colombianos, la posesión
          de saberes ancestrales y la interacción con la naturaleza derivada de
          una entrañable relación con ella, más allá de los intereses de
          usufructo. En primera instancia, el Instituto Nacional Cuenco, como un
          interlocutor dentro de la universidad, se propone como órgano autónomo
          consultivo para la reflexión, definición y orientación de políticas
          educativas, dentro de la escala local de cada sede, nacional y global,
          en diálogo con las distintas expresiones de la comunidad
          universitaria, sus representaciones y sus manifestaciones colectivas.
        </p>
        <p>
          Cuenco es una conciencia desde la cual la universidad se piensa a sí
          misma; propicia el encuentro para la formación, la escucha y el
          diálogo como lugar idóneo para la toma decisiones de universidad,
          dentro de procesos de formulación de políticas académicas propias y de
          políticas públicas en educación. El Instituto Nacional dinamiza el
          modelo intersedes para la articulación de la Universidad Nacional de
          Colombia, a través de la reflexión educativa institucional, acorde con
          los contextos y las particularidades de cada una de las sedes, según
          sus características territoriales, sociales y culturales. Asume y
          propone tareas, a la vez que vislumbra posibilidades en temas tan
          álgidos como la articulación de los distintos niveles de formación; la
          revisión de los componentes de formación como Fundamentación,
          Formación disciplinar o profesional y Libre elección en el pregrado;
        </p>
      </div>
      <div>
        <p>
          la articulación de los ejes misionales: docencia, investigación y
          extensión; la percepción que tienen estudiantes de docentes, así como
          el acompañamiento en la formación en pedagogía y en humanidades a
          docentes de reciente ingreso. En segunda instancia, Cuenco como campo
          de estudio, diálogo y transformación, cuenta con un espacio
          colaborativo que va más allá de la Universidad Nacional de Colombia de
          donde surge. La construcción de sentido de Cuenco se basa en la
          riqueza del diálogo con otras instituciones, con agentes de la
          educación básica, media y superior, con la sociedad, con actores de
          los territorios, con sectores productivos y con el Estado. Su esencia
          está dada por la apropiación por parte de las distintas comunidades,
          más allá de la académica, desde una cultura contemporánea que va,
          desde lo local hasta un entorno global.
        </p>
        <p>
          El Instituto Nacional se proyecta como agente de cambio en la
          transformación educativa a través del intercambio de saberes con los
          territorios y la construcción de conocimientos con otros seres
          humanos, otras instituciones y otras culturas. Integra lo existente,
          delibera y propone nuevas discusiones en el campo de la educación,
          dentro y fuera de la universidad. Finalmente, Cuenco supone una
          espiral hermenéutica en la cual, el quehacer de la educación es
          materia de creación en movimiento. Actualmente no existe una instancia
          de carácter nacional, integradora e interdisciplinar que, en diálogo
          interno con las distintas colectividades y desde el modelo intersedes,
          dialogue a su vez con los distintos actores de los territorios, esté
          orientada a incidir en las políticas públicas del país y aborde estas
          tres dimensiones en su conjunto: investigación en educación,
          innovación académica y política educativa.
        </p>
        <p>
          Sin embargo, diferentes Facultades, Dependencias y Unidades Académico
          Administrativas de las Sedes Andinas (Bogotá, Medellín, Manizales,
          Palmira y De La Paz) y de las Sedes de Presencia Nacional (Amazonía,
          Caribe, Orinoquia y Tumaco) de la Universidad Nacional de Colombia
          trabajan en ello de manera independiente e inarticulada. Por esta
          razón, el Instituto Nacional es el llamado a: liderar y promover las
          acciones pertinentes en las áreas de investigación, innovación y
          política educativa, bajo una propuesta integrativa y desde el modelo
          intersedes. Por ende, le concierne proyectar en el medio externo la
          labor institucional en las áreas del conocimiento que enuncia, siendo
          estratégicas para el desarrollo de las regiones, tanto de las de
          influencia actual de la universidad como de los territorios nacionales
          en general.
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  .text-about p {
    margin-bottom: 1rem;
  }
</style>
