---
const { class: className } = Astro.props;
---

<div class="relative flex flex-col justify-center items-center min-h-[70vh] sm:min-h-screen">
  <!-- Nueva capa de fondo con video -->
  <div class="absolute inset-0 h-full w-full overflow-hidden">
    <video autoplay muted loop class="h-full w-full object-cover opacity-50">
      <source src="/img-cuenco/fondo_grafo.mp4" type="video/mp4">
    </video>
    <!-- Capa con fondo semi-transparente -->
    <div class="absolute inset-0 bg-black bg-opacity-0"></div>
  </div>
  <!-- Imagen del mapa -->
  <div class="relative w-full max-w-3xl md:max-w-4xl lg:max-w-5xl h-auto z-10 mt-8 px-4">
    <img src="/img-cuenco/mapaconsombra.png" alt="Mapa de Colombia" class="w-full h-auto object-contain" />
  </div>  
</div>



