---
const { class: className } = Astro.props;
---

<div class={`${className}mx-auto w-10/12 mt-10`}>
  <div class="row">
    <div class="col-12 col-md-8">
      <img
        class="img-thumbnail rounded-lg"
        src="/img-cuenco/mapas/map-00.webp"
        alt=""
      />
    </div>
    <div class="col-12 col-md-4">
      <div class="col-12 mt-map">
        <img
          class="img-thumbnail rounded-lg"
          src="/img-cuenco/mapas/map-01.webp"
          alt=""
        />
      </div>
      <div class="col-12 mt-8">
        <img
          class="img-thumbnail rounded-lg"
          src="/img-cuenco/mapas/map-02.webp"
          alt=""
        />
      </div>
    </div>
  </div>

  <div class="row mt-8">
    <div class="col-md-4">
      <img
        class="img-thumbnail rounded-lg"
        src="/img-cuenco/mapas/map-03.webp"
        alt=""
      />
    </div>
    <div class="col-md-4 mt-map">
      <img
        class="img-thumbnail rounded-lg"
        src="/img-cuenco/mapas/map-04.webp"
        alt=""
      />
    </div>
    <div class="col-md-4 mt-map">
      <img
        class="img-thumbnail rounded-lg"
        src="/img-cuenco/mapas/map-05.webp"
        alt=""
      />
    </div>
  </div>
  
  <div class="row mt-8">
    <div class="col-md-4 mt-map">
      <img
        class="img-thumbnail rounded-lg"
        src="/img-cuenco/mapas/map-06.webp"
        alt=""
      />
    </div>

    <div class="col-md-4 mt-map">
      <img
        class="img-thumbnail rounded-lg"
        src="/img-cuenco/mapas/map-07.webp"
        alt=""
      /> 
    </div>
  </div>
</div>


<style>
  img:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all ease 0.4s;
    transform: scale(1.03);
  }
  @media screen and (max-width: 991px) {
    .mt-map {
      margin-top: 2rem;
    }  
  }
  
</style>
