---
const { class: className } = Astro.props;
---

<div class={`${className}`}>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <img
        class="img-responsive rounded-lg"
        src="img-encuentros/mapas/map-00.png"
        alt=""
        loading="lazy"
      />
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="col-12">
        <img
          class="img-responsive rounded-lg"
          src="img-encuentros/mapas/map-01.webp"
          alt=""
          loading="lazy"
        />
      </div>
      <div class="col-12 mt-8">
        <img
          class="img-responsive rounded-lg"
          src="img-encuentros/mapas/map-02.webp"
          alt=""
          loading="lazy"
        />
      </div>
    </div>
  </div>

  <div class="row mt-8">
    <div class="col-md-4">
      <img
        class="img-responsive rounded-lg"
        src="img-encuentros/mapas/map-03.webp"
        alt=""
        loading="lazy"
      />
    </div>
    <div class="col-md-4">
      <img
        class="img-responsive rounded-lg"
        src="img-encuentros/mapas/map-04.webp"
        alt=""
        loading="lazy"
      />
    </div>
    <div class="col-md-4">
      <img
        class="img-responsive rounded-lg"
        src="img-encuentros/mapas/map-05.webp"
        alt=""
        loading="lazy"
      />
    </div>
  </div>
</div>
