---
const { class: className } = Astro.props;
import Linea from "../../public/svg/linea.astro";
---

<div class={`${className} mx-32`}>
  <!-- <div class="pb-1 title-bg mb-5">
    <h1 class="section-title text-center font-bold text-gray-700 mb-1">
      Estadísticas de participación
    </h1>
    <Linea class="lg:w-[48rem] mx-auto" />
  </div> -->

  <div class="row">
    <div class="col-xs-12 col-md-8">
      <img
        class="img-responsive rounded-lg"
        src="img-encuentros/mapas/map-00.png"
        alt=""
        loading="lazy"
      />
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="col-12">
        <img
          class="img-responsive rounded-lg"
          src="img-encuentros/mapas/map-01.webp"
          alt=""
          loading="lazy"
        />
      </div>
      <div class="col-12 mt-8">
        <img
          class="img-responsive rounded-lg"
          src="img-encuentros/mapas/map-02.webp"
          alt=""
          loading="lazy"
        />
      </div>
    </div>
  </div>

  <div class="row mt-8">
    <div class="col-md-4">
      <img
        class="img-responsive rounded-lg"
        src="img-encuentros/mapas/map-03.webp"
        alt=""
        loading="lazy"
      />
    </div>
    <div class="col-md-4">
      <img
        class="img-responsive rounded-lg"
        src="img-encuentros/mapas/map-04.webp"
        alt=""
        loading="lazy"
      />
    </div>
    <div class="col-md-4">
      <img
        class="img-responsive rounded-lg"
        src="img-encuentros/mapas/map-05.webp"
        alt=""
        loading="lazy"
      />
    </div>
  </div>
</div>
