---
const { class: className } = Astro.props;
---

<div class={`${className}`}>
  <div class="row">
    <div class="col-12 col-md-8">
      <img
        class="img-responsive rounded-lg"
        src="/img-cuenco/mapas/map-00.png"
        alt=""
      />
    </div>
    <div class="col-12 col-md-4">
      <div class="col-12 mt-map">
        <img
          class="img-responsive rounded-lg"
          src="/img-cuenco/mapas/map-01.webp"
          alt=""
        />
      </div>
      <div class="col-12 mt-8">
        <img
          class="img-responsive rounded-lg"
          src="/img-cuenco/mapas/map-02.webp"
          alt=""
        />
      </div>
    </div>
  </div>

  <div class="row mt-8">
    <div class="col-md-4">
      <img
        class="img-responsive rounded-lg"
        src="/img-cuenco/mapas/map-03.webp"
        alt=""
      />
    </div>
    <div class="col-md-4 mt-map">
      <img
        class="img-responsive rounded-lg"
        src="/img-cuenco/mapas/map-04.webp"
        alt=""
      />
    </div>
    <div class="col-md-4 mt-map">
      <img
        class="img-responsive rounded-lg"
        src="/img-cuenco/mapas/map-05.webp"
        alt=""
      />
    </div>
  </div>
</div>

<!-- modal -->
<div id="maps-modal" class="modal">
  <div class="content-modal">
    <img id="map-modal-img" src="" alt="distribution img modal" />
  </div>
</div>

<script>
  var modal = document.getElementById("maps-modal");
  var images = document.querySelectorAll(".img-responsive");
  images.forEach(function (image) {
    image.addEventListener("click", function (evt) {
      evt.preventDefault();
      var imgSrc = this.getAttribute("src");
      var modalImg = document.getElementById(
        "map-modal-img"
      ) as HTMLImageElement;
      modalImg.src = imgSrc;
      modal.style.display = "block";
    });
  });
  window.addEventListener("click", function (event) {
    if (event.target == modal) modal.style.display = "none";
  });
</script>

<style>
  img:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all ease 0.3s;
  }

  .content-modal {
    width: 50%;
  }

  @media screen and (max-width: 680px){
    .content-modal {
      width: 95%;
    }
  }

  @media screen and (min-width: 681px) and (max-width: 790px) {
    .content-modal {
      width: 85%;
      left: 50%;
      top: 55%;
    }
  }

  @media screen and (min-width: 791px) and (max-width: 970px){
    .content-modal {
      width: 75%;
      left: 50%;
      top: 55%;
    }
  }
  @media screen and (min-width: 971px) and (max-width: 1200px){
    .content-modal {
      width: 60%;
      left: 50%;
      top: 55%;
    }
  }
  @media screen and (min-width: 1201px){
    .content-modal {
      width: 46%;
      left: 50%;
      top: 54%;
    }
  }
  
  /* .content-modal{
    left: 50%;
    top: 52%;
  } */

  @media screen and (max-width: 991px) {
    .mt-map {
      margin-top: 2rem;
    }  
  }
</style>
