<div id="events-images" class="w-[80vw] my-8 md:my-16 mx-auto">
  <div
    class="flex flex-row items-center justify-between bg-zinc-100 p-2 rounded-t-xl px-32"
  >
    <h1 class="text-5xl text-black">Eventos</h1>
    <img
      class="max-h-32 object-cover overflow-hidden"
      src="/img-urdimbre/logo-urdimbre.webp"
      alt="logo"
    />
  </div>

  <div class="py-10 bg-white">
    <!-- grilla de imagenes 1 -->
    <div class="mt-10">
      <h2>Curso Empresa FIA II: Asociación de Construcción en Seco</h2>
      <img
        src="/img-urdimbre/franja-urdimbre - copia.png"
        alt="franja-urdimbre"
        class="mx-auto md:h-2 md:w-full"
      />
      <div class="m-10 grid sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4">
        <img
          src="/img-urdimbre/eventos/toma-cultural-01.webp"
          alt="toma-cultural"
          class="img-thumbnail"
        />
        <img
          src="/img-urdimbre/eventos/toma-cultural-02.webp"
          alt="toma-cultural"
          class="img-thumbnail"
        />
        <img
          src="/img-urdimbre/eventos/toma-cultural-03.webp"
          alt="toma-cultural"
          class="img-thumbnail"
        />
        <img
          src="/img-urdimbre/eventos/toma-cultural-04.webp"
          alt="toma-cultural"
          class="img-thumbnail"
        />
        <img
          src="/img-urdimbre/eventos/toma-cultural-05.jpeg"
          alt="toma-cultural"
          class="img-thumbnail"
        />
      </div>
    </div>

    <!-- grilla de imagenes 2 -->
    <div class="mt-20">
      <h2>Bazar Empresarial</h2>
      <img
        src="/img-urdimbre/franja-urdimbre - copia.png"
        alt="franja-urdimbre"
        class="mx-auto md:h-2 md:w-full"
      />
      <div class="m-10 grid md:grid-cols-3 gap-4">
        <div class="col-span-2 sm:col-span-1 md:col-start-2">
          <img
            src="/img-urdimbre/eventos/bazar-empresarial.webp"
            alt="bazar-empresarial"
            class="img-thumbnail"
          />
        </div>
      </div>
    </div>

    <!-- grilla de imagenes 3 -->
    <div class="mt-20">
      <h2>Firma Convenio Grupo Argos - Sede Medellín 18 de Agosto 2022</h2>
      <img
        src="/img-urdimbre/franja-urdimbre - copia.png"
        alt="franja-urdimbre"
        class="mx-auto md:h-2 md:w-full"
      />
      <div class="m-10 grid sm:grid-cols-2 xl:grid-cols-6 gap-4">
        <img
          src="/img-urdimbre/eventos/agencia-UNAL-01.webp"
          alt="agencia-UNAL"
          class="img-thumbnail xl:col-start-2 xl:col-span-2"
        />
        <img
          src="/img-urdimbre/eventos/agencia-UNAL-02.webp"
          alt="agencia-UNAL"
          class="img-thumbnail xl:col-start-4 xl:col-span-2"
        />
      </div>
    </div>

    <!-- grilla de imagenes 4 -->
    <div class="mt-20">
      <h2>Visita DURATEX 06/12/2021</h2>
      <img
        src="/img-urdimbre/franja-urdimbre - copia.png"
        alt="franja-urdimbre"
        class="mx-auto md:h-2 md:w-full"
      />
      <div class="m-10 grid md:grid-cols-3 gap-4">
        <div class="col-span-2 sm:col-span-1 md:col-start-2">
          <img
            src="/img-urdimbre/eventos/duratex-01.jpeg"
            alt="duratex"
            class="img-thumbnail"
          />
        </div>
      </div>
    </div>
  </div>
</div>



<style>
  .grid img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }

  .grid img:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in;
  }

  h2 {
    font-size: xx-large;
    text-align: center;
  }
  </style>
