<div class="w-[80vw] my-8 md:my-16 mx-auto">
  <div
    class="flex flex-row items-center justify-between bg-zinc-100 p-2 rounded-t-xl px-32"
  >
    <h1 class="text-5xl text-black">Eventos</h1>
    <img
      class="max-h-32 object-cover overflow-hidden"
      src="/img-urdimbre/logo-urdimbre.webp"
      alt="logo"
    />
  </div>

  <div class="py-10 bg-white">
    <!-- grilla de imagenes 1-->
    <div>
      <h2 class="text-3xl text-center">
        Curso Empresa FIA II: Asociación de Construcción en Seco
      </h2>
      <img
        src="/img-urdimbre/franja-urdimbre - copia.png"
        alt="franja-urdimbre"
        class="mx-auto md:h-2 md:w-9/12"
      />
      <div class="m-10 grid sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4">
        <a href="">
          <img
            src="/img-urdimbre/eventos/toma-cultural-01.webp"
            alt="toma-cultural"
            class="img-thumbnail"
          />
        </a>
        <a href="">
          <img
            src="/img-urdimbre/eventos/toma-cultural-02.webp"
            alt="toma-cultural"
            class="img-thumbnail"
          />
        </a>
        <a href="">
          <img
            src="/img-urdimbre/eventos/toma-cultural-03.webp"
            alt="toma-cultural"
            class="img-thumbnail"
          />
        </a>
        <a href="">
          <img
            src="/img-urdimbre/eventos/toma-cultural-04.webp"
            alt="toma-cultural"
            class="img-thumbnail"
          />
        </a>
      </div>
    </div>

    <!-- grilla de imagenes 2-->
    <div class="">
      <h2 class="text-3xl text-center">
        Bazar Empresarial
      </h2>
      <img
        src="/img-urdimbre/franja-urdimbre - copia.png"
        alt="franja-urdimbre"
        class="mx-auto md:h-2 md:w-9/12"
      />
      <div class="m-10 grid md:grid-cols-3 gap-4">
        <div class="col-span-2 sm:col-span-1 md:col-start-2">
          <a href="">
            <img
              src="/img-urdimbre/eventos/bazar-empresarial.webp"
              alt="toma-cultural"
              class="img-thumbnail"
            />
          </a>
        </div>
      </div>
    </div>

    <!-- grilla de imagenes 1-->
    <div>
      <h2 class="text-3xl text-center">
        Firma Convenio Grupo Argos - Sede Medellín 18 de Agosto 2022
      </h2>
      <img
        src="/img-urdimbre/franja-urdimbre - copia.png"
        alt="franja-urdimbre"
        class="mx-auto md:h-2 md:w-9/12"
      />
      <div class="m-10 grid sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4">
        <a href="" class="col-start-2">
          <img
            src="/img-urdimbre/eventos/agencia-UNAL-01.webp"
            alt="toma-cultural"
            class="img-thumbnail"
          />
        </a>
        <a href="" class="col-start-3">
          <img
            src="/img-urdimbre/eventos/agencia-UNAL-02.webp"
            alt="toma-cultural"
            class="img-thumbnail"
          />
        </a>
      </div>
    </div>
  </div>
</div>

<style>
  .grid img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }

  .grid img:hover {
    transform: scale(1.05);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in;
  }
</style>
