---
const { class: className, id } = Astro.props;
---

<section id={id} class=`containers my-3 mb-8 bg-white ${className}`>
  <div class="">
    <img
      class="w-full"
      src="img-encuentros/header-tr.png"
      alt="header cuenco"
    />
  </div>
</section>
