---
const { class: className, id } = Astro.props;
---
<div id={id} class=`${className}`>
  <img
    class="w-full max-w-[1300px] mx-auto"
    src="/img-cuenco/header-tr.png"
    alt="header cuenco"
  />
</div>

<style>
  @media screen and (max-width: 640px) {
    img {
      content: url("/img-cuenco/header-tr-mobile.png");
    }
  }
  @media screen and (min-width: 641px) {
    img {
      content: url("/img-cuenco/header-tr.png");
    }
  }
</style>
