<div
  class="flex flex-col items-center justify-center w-10/12 mx-auto rounded-xl my-20 text-white
  bg-zinc-500 bg-opacity-50"
>
  <div
    class="w-full flex flex-row items-center bg-zinc-100 p-10 rounded-t-xl"
  >
    <h1 class="text-5xl text-black">Proyecto Urdimbre</h1>
    
  </div>

  <p class="text-xl mt-10">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero sunt
    praesentium excepturi harum rem quisquam temporibus sit distinctio ullam sed
    earum, adipisci pariatur cupiditate officia vel iusto asperiores est illo?
  </p>
  <blockquote class="px-10 mt-3">
    <i
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim
      voluptatem, minus soluta impedit hic ullam possimus aliquam alias natus
      dolorum reiciendis minima recusandae, eaque dicta rem eum obcaecati, ad
      dolore.</i
    >
  </blockquote>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eius odio
    assumenda velit dolor saepe. Incidunt iure sed deleniti est quia commodi
    sint nulla pariatur odit labore. Aspernatur, illo perferendis! Sequi
    incidunt praesentium est vero ullam, perferendis, natus amet quo, quis
    dolorum quod quidem tenetur facere recusandae deleniti accusamus deserunt!
    Eum quam perferendis vero repellat eveniet qui corrupti. Suscipit, quam!
    Debitis distinctio odit incidunt reprehenderit voluptates aut ratione sed
    vitae quos. Dolor mollitia deserunt numquam ipsa error impedit esse
    doloribus odio fuga magnam eveniet eum quos quibusdam possimus, hic
    pariatur! Deleniti provident rerum optio officia doloremque maxime et id vel
    quos. Cum vitae eos reprehenderit qui! Nam consequuntur impedit maiores
    earum commodi neque natus incidunt ratione perferendis fugiat, eligendi
    minima! Maiores ullam ratione perspiciatis voluptatibus eligendi ex error
    aperiam cum molestias culpa! Numquam voluptas ea incidunt, iure
    necessitatibus eveniet ipsum, aliquid blanditiis rem corporis assumenda
    maxime fugiat laudantium dolorum soluta. Assumenda natus illum consequuntur,
    provident quibusdam consequatur soluta obcaecati omnis perferendis fugiat,
    maiores similique ullam suscipit dolor laborum adipisci voluptatum nulla
    cum. Ipsa error iusto dolorum possimus nulla libero dignissimos. Blanditiis
    deserunt optio cumque! Blanditiis esse sequi quam iure voluptatem. Corrupti
    ex iste a voluptatum illum. Error laudantium saepe in officiis voluptas
    incidunt, assumenda fugiat totam nesciunt quas cum suscipit! Exercitationem
    voluptas consequatur quasi tenetur atque, quod quaerat commodi vel,
    repudiandae architecto mollitia minima voluptatibus corporis recusandae
    nesciunt? Facilis quos voluptates veritatis quia distinctio fugit ad quae
    pariatur, quod reprehenderit. Sed aspernatur explicabo velit aut molestias
    veniam, cumque enim accusamus, accusantium aliquid molestiae laborum esse
    possimus quod ipsum repellat repellendus fuga dolores alias corrupti iusto,
    ducimus aperiam quibusdam sapiente! Perferendis. Ducimus quos quis officia
    libero rerum explicabo molestias inventore iure, voluptatum doloremque dolor
    nihil corporis laborum quia veritatis dignissimos cupiditate saepe
    reprehenderit doloribus iste minima quibusdam, blanditiis expedita aut!
    Dolores.
  </p>
</div>

<!-- <div class="w-full bg-zinc-100 -mb-4">
  <img
      class="max-h-28 object-cover  mx-auto overflow-hidden"
      src="/img-urdimbre/logo-urdimbre.webp"
      alt="logo"
    />
</div> -->

<style>
  p {
    font-size: 1.5rem;
    text-align: justify;
    margin: 2rem;
  }
</style>
