<div class="flex flex-col items-center justify-center w-10/12 mx-auto rounded-xl my-8 md:my-16 text-black bg-white">
  <div class="w-full flex flex-col items-center justify-center bg-zinc-100 p-10 rounded-t-xl px-32">
    <h1 class="text-5xl text-black mb-1">Proyecto Urdimbre</h1>
  </div>
  <div class="mx-20s mt-8 mb-8 flex flex-col items-center w-full px-32 pb-24"> 
    <div class="grid md:grid-cols-2 gap-8 w-full">
      <div>
        <p class="text-about text-xl text-justify">
          Proyecto Urdimbre es un grupo de acción de la Universidad Nacional de
          Colombia. Tiene la misión de tejer los estamentos, propiciar la sinergia
          entre distintos campos de conocimiento y fuentes de saberes, aportar a
          la formación integral de la comunidad universitaria a través de espacios
          que trascienden las aulas, y proceder desde el modelo intersedes como
          proyecto cultural, científico y colectivo de nación.
        </p>
        <p class="text-about text-xl text-justify">
          En Proyecto Urdimbre creemos en la pertinencia de un relacionamiento
          ético y académico con el medio externo a la universidad, los
          territorios, las diversas comunidades, otras instituciones, los sectores
          productivos y el Estado. Creemos que el desarrollo de capacidades de l@s
          estudiantes para un nuevo mundo, el Siglo XXI, diferente de aquél en el
          cual nos formamos docentes actuales del Siglo XX, requiere entrenamiento
          para afrontar desafíos de la vida real, a través de diálogos de saberes
          y trabajo colaborativo con el medio externo a la universidad, cuyos
          impactos positivos estén orientados a la apropiación social del
          conocimiento.
        </p>
        <p class="text-about text-xl text-justify">
          Nos hemos propuesto habitar la web con el fin de documentar, desde la
          Sede Manizales, experiencias académicas en consonancia con nuestra
          misión. Hasta este momento Urdimbre articula dos proyectos, uno de sede
          y otro proyecto de carácter nacional. El primero consiste en un grupo de
          asignaturas interdisciplinares, algunas de las cuales se han ofertado en
          otras sedes, como estrategia para el relacionamiento con el medio a
          través del trabajo interdisciplinar.
        </p>
      </div>
      <div>
        <p class="text-about text-xl text-justify">
          El segundo consiste en la creación de un instituto nacional de
          investigación, innovación y política educativa como espacio colaborativo
          inter y transdisciplinar, en el cual su carácter nacional alude a un
          proyecto de educación para la nación.
        </p>
        <p class="text-about text-xl text-justify">
          Inmensa gratitud con todas aquellas personas, instituciones y
          organizaciones que han confiado en esta propuesta. Gracias a l@s pares
          evaluadores, quienes, en su tránsito por nuestros programas académicos
          en las tres facultades de la Sede Manizales, han celebrado la existencia
          de las asignaturas propuestas, por la interdisciplinariedad y por el
          puente tendido con el medio externo. Gracias a la Facultad de Ingeniería
          y Arquitectura (FIA) y a la Dirección Académica de Sede (DAMA), con cuyo
          apoyo pusimos en marcha este grupo de acción en el 2022. Hasta el
          momento, en nuestro equipo de trabajo hemos contado con la participación
          de Estudiantes Auxiliares y becarios del área de Gestión Cultural (pre y
          posgrado), Administración de Sistemas Informáticos y Arquitectura.
        </p>
        <p class="text-about text-xl text-justify">
          Con el transcurrir del tiempo hemos articulado a esta iniciativa de
          documentación y de tejido, el trabajo de profesionales provenientes de
          otros campos de conocimiento, como Administración de Empresas,
          Psicología, Ingeniería Electrónica, Sociología, Diseño Visual y
          Politología.
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  .text-about p {
    font-size:large;
    text-align: justify;
    margin: 1rem 2rem;
    line-height: normal;
  }
</style>
