<div class="flex flex-col items-center justify-center w-10/12 mx-auto rounded-xl my-5 text-white
  bg-zinc-500 bg-opacity-50"
>
  <div class="w-full flex flex-row items-center justify-around bg-zinc-100 p-4 rounded-t-xl">
    <h1 class="text-6xl text-black">Proyecto Urdimbre</h1>
    <img
      class="max-h-48 object-cover overflow-hidden"
      src="img-urdimbre/logo-urdimbre.webp"
      alt="logo"
    />
  </div>

  <p class="text-xl mt-10">
    A partir del 2019, desde la Escuela de Arquitectura y Urbanismo (EAU) de la
    Facultad de Ingeniería y Arquitectura (FIA), Sede Manizales, implementamos
    un grupo de asignaturas como estrategia para el relacionamiento con el medio
    social y empresarial, a través del trabajo interdisciplinar. Desde entonces,
    ofertamos estas asignaturas a estudiantes de todos los programas de las tres
    facultades de nuestra Sede, y en algunos casos, a estudiantes de otras Sedes
    también. Tenemos como fin promover la formación integral de los estudiantes,
    ligada a problemáticas reales, las cuales propicien la integración con el
    entorno y su participación activa en el desarrollo local, regional y
    nacional. De esta manera, trabajamos en función de la consolidación del
    círculo virtuoso de los ejes misionales de la UNal: docencia, investigación
    y extensión, en consonancia con el Propósito Superior institucional:
  </p>
  <blockquote class="px-10 mt-3">
    <i
      >Ser la universidad de la Nación que, como centro de cultura y
      conocimiento, forma ciudadanos íntegros, responsables y autónomos,
      orientados a ser agentes de cambio con conciencia ética y social, capaces
      de contribuir a la construcción nacional, desde la riqueza y diversidad de
      las regiones, y desde el respeto por la diferencia y la inclusión social
      (UNal, 2019).</i
    >
  </blockquote>
  <p>
    Proyecto Urdimbre tiene la misión de tejer los distintos estamentos, así
    como el conjunto de Sedes de la Universidad Nacional de Colombia, mediante
    actividades culturales que contribuyan a la divulgación de la estrategia de
    relacionamiento con el medio y a la creación de nuevas alianzas. Nos hemos
    propuesto habitar el espacio en la web con el fin de documentar esta
    experiencia de formación integral desde la Sede Manizales. Creemos que el
    desarrollo de capacidades de los estudiantes para un nuevo mundo, Siglo XXI,
    diferente de aquél en el cual nos formamos los docentes actuales, Siglo XX,
    requiere entrenamiento para afrontar proyectos de la vida real, con impacto
    positivo en la sociedad. <br /><br />
    La implementación asignaturas interdisciplinares y transversales a todas las
    carreras, así como del Proyecto Urdimbre, implica gestionar cambios en roles
    y responsabilidades de la comunidad académica, constituida por administrativos,
    docentes y estudiantes. De esta experiencia, el diseño propuesto como articulador
    de diversos campos del conocimiento, emerge, además, como dinamizador de la transformación
    en la gestión administrativa, dentro y fuera de la Academia. <br /><br />
    Inmensa gratitud con todas aquellas personas, instituciones y organizaciones
    que han confiado en esta propuesta. Gracias al reconocimientos de pares evaluadores,
    quienes, en su tránsito por nuestros programas, han celebrado esta iniciativa,
    por la interdisciplinariedad y por el puente tendido con el medio externo. Gracias
    a la Facultad de Ingeniería y Arquitectura (FIA) y a la Dirección Académica de
    Sede (DAMA), con cuyo apoyo pusimos en marcha en el 2022 el Proyecto Urdimbre.
    Hasta el momento, en nuestro equipo de trabajo hemos contado con la participación
    de Estudiantes Auxiliares del área de Gestión Cultural (pre y posgrado) y de
    Administración de Sistemas Informáticos; esperamos con el tiempo vincular otros
    programas académicos a la iniciativa de documentación y de tejido.
  </p>
</div>

<!-- <div class="w-full bg-zinc-100 -mb-4">
  <img
      class="max-h-28 object-cover  mx-auto overflow-hidden"
      src="img-urdimbre/logo-urdimbre.webp"
      alt="logo"
    />
</div> -->


<style>
  p{
    font-size: 1.5rem;
    text-align: justify;
    margin: 2rem;
  }
</style>