---
import Cuenco from "../../public/svg/cuenco.astro";
import Identificador from "../../public/svg/identificador.astro";
import Linea from "../../public/svg/linea.astro";
import About from "./About.astro";
import Meetings from "./Meetings.astro";
import Stats from "./Stats.astro";
import Baseline from "./Baseline.astro";
import Contact from "./Contact.astro";
import HeroSection from "./HeroSection.astro";

import Distribution from "./Distribution.astro";
import Publications from "./Publications.astro";
import Events from "./Events.astro";
import Diffusion from "./Diffusion.astro";
import StatsData from "./StatsData.astro";
import Typologies from "./Typologies.astro";
import HomeUrdimbre from "./HomeUrdimbre.astro";
import NavBar from "./NavBar.astro";
import ScrollToTop from "./ScrollToTop.astro";
---

<div class="">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs text-white bg-tab" role="tablist" style="display: flex; align-items: center;">
    <li role="presentation" class="active">
      <a href="#home-urdimbre" aria-controls="home-urdimbre" role="tab" data-toggle="tab" style="padding: 10px;">
        <big>Inicio</big>
      </a>
    </li>
    <li role="presentation">
      <a href="#subjects" aria-controls="subjects" role="tab" data-toggle="tab" style="padding: 10px;">
        <big>Asignaturas Interdisciplinares</big>
      </a>
    </li>
    <li role="presentation">
      <a href="#cuenco" aria-controls="cuenco" role="tab" data-toggle="tab" style="padding: 10px;">
        <big>Cuenco</big>
      </a>
    </li>
  </ul>
</div>


  <!-- Tab panes -->
  <div class="tab-content">
    <div
      role="tabpanel"
      class="tab-pane fade in active franja"
      id="home-urdimbre"
    >
      <HomeUrdimbre />
    </div>

    <div role="tabpanel" class="tab-pane fade" id="subjects">
      <div>
        <!-- Nav sub-tabs subjects-->
        <ul class="nav nav-tabs text-white bg-tab" role="tablist">
          <li role="presentation" class="active">
            <a
              href="#typologies"
              aria-controls="typologies"
              role="tab"
              data-toggle="tab">Tipologías</a
            >
          </li>
          <li role="presentation">
            <a
              href="#stats-data"
              aria-controls="stats-data"
              role="tab"
              data-toggle="tab">Datos Estadísticos</a
            >
          </li>
          <li role="presentation">
            <a
              href="#diffusion"
              aria-controls="diffusion"
              role="tab"
              data-toggle="tab">Difusión</a
            >
          </li>
          <li role="presentation">
            <a
              href="#events"
              aria-controls="events"
              role="tab"
              data-toggle="tab">Eventos</a
            >
          </li>
          <li role="presentation">
            <a
              href="#publications"
              aria-controls="publications"
              role="tab"
              data-toggle="tab">Publicaciones</a
            >
          </li>
        </ul>

        <!-- Sub-Tab panes -->
        <div class="tab-content">
          <div
            role="tabpanel"
            class="tab-pane fade in active franja"
            id="typologies"
          >
            <Typologies />
          </div>
          <div role="tabpanel" class="tab-pane fade franja" id="stats-data">
            <StatsData />
          </div>
          <div role="tabpanel" class="tab-pane fade franja" id="diffusion">
            <Diffusion />
          </div>
          <div role="tabpanel" class="tab-pane fade franja" id="events">
            <Events />
          </div>
          <div role="tabpanel" class="tab-pane fade franja" id="publications">
            <Publications />
          </div>
        </div>
      </div>
      <div class="w-full bg-zinc-100 -mb-4">
        <img
          class="max-h-36 py-4 object-cover mx-auto overflow-hidden"
          src="/img-urdimbre/logo-urdimbre.webp"
          alt="logo"
        />
      </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="cuenco" style="background-image: url('/img-cuenco/background-cuenco-purple.webp'); background-size: 100% auto; background-repeat: repeat-y; background-position: top left;">
      <div>
        <!-- Nav sub-tabs subjects-->
        <ul class="nav nav-tabs text-white bg-tab" role="tablist">
          <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab" style="display: flex; align-items: center;">
              <img src="/svg/about-05.png" alt="Icono Quiénes Somos" class="mr-2 w-4 h-4" />
              <span style="display: inline-block; vertical-align: middle;">Quiénes Somos</span>
            </a>
          </li>
          <li role="presentation">
            <a href="#meetings" aria-controls="meetings" role="tab" data-toggle="tab" style="display: flex; align-items: center;">
              <img src="/svg/participants-04.png" alt="Icono Encuentros Intersedes" class="mr-2 w-4 h-4" />
              <span style="display: inline-block; vertical-align: middle;">Encuentros Intersedes</span>
            </a>
          </li>
          <li role="presentation">
  <a href="#stats" aria-controls="stats" role="tab" data-toggle="tab" style="display: flex; align-items: center;">
    <img src="/svg/meetings-06.png" alt="Icono Encuentros Intersedes" class="mr-2 w-4 h-4" />
    <span style="display: inline-block; vertical-align: middle;">Distribución por sedes</span>
  </a>
</li>
          <li role="presentation">
            <a href="#participation-stats" aria-controls="participation-stats" role="tab" data-toggle="tab" style="display: flex; align-items: center;">
              <img src="/svg/stats-03.png" alt="Icono Estadísticas de participación" class="mr-2 w-4 h-4" />
              <span style="display: inline-block; vertical-align: middle;">Estadísticas de participación</span>
            </a>
          </li>
          <li role="presentation">
            <a href="#baseline" aria-controls="baseline" role="tab" data-toggle="tab" style="display: flex; align-items: center;">
              <img src="/svg/baseline-01.png" alt="Icono Línea Base" class="mr-2 w-4 h-4" />
              <span style="display: inline-block; vertical-align: middle;">Línea Base</span>
            </a>
          </li>
          <li role="presentation">
            <a href="#contact" aria-controls="contact" role="tab" data-toggle="tab" style="display: flex; align-items: center;">
              <img src="/svg/Contact-02.png" alt="Icono Contacto" class="mr-2 w-4 h-4" />
              <span style="display: inline-block; vertical-align: middle;">Contacto</span>
            </a>
          </li> 
          <li role="presentation" style="top: -35px; right: -375px;">
            <div class="youtube-corner" style="position: absolute; top: max(0px, 20% - 100px); right: 40px; z-index: 1000; width: 80px; height: auto;">
              <a href="#" onclick="window.open('https://www.youtube.com/@ProyectoInstitutoCuenco', '_blank');" aria-controls="youtube" role="tab" rel="noopener noreferrer">
                <img src="/svg/youtube.png" alt="Icono Youtube" class="hover:scale-110">
              </a>                                               
            </div>
          </li>
        </ul>
        
          
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="home">
            <!-- Contenido de Inicio -->
            <div class="home">
              <HeroSection />
              <About id="about" />
            </div>
          </div>
    
          <div role="tabpanel" class="tab-pane fade" id="meetings">
            <!-- Contenido de Encuentros Intersedes -->
            <section class="flex flex-col items-center justify-center w-10/12 mx-auto rounded-xl my-8 md:my-16 text-black bg-white">
              <div class="w-full flex flex-col items-center justify-center bg-zinc-100 p-10 rounded-t-xl px-32">
                <h1 class="text-5xl text-black mb-1">
                  Encuentros Intersedes
                </h1>
                <Linea class="lg:w-[36rem] mx-auto" />
              </div>
              <div class="mx-auto">
                <Meetings />
              </div>
            </section>
          </div>
    
          <div role="tabpanel" class="tab-pane fade" id="stats">
            <!-- Contenido de Distribución por sedes -->
            <section class="flex flex-col items-center justify-center w-10/12 mx-auto rounded-xl my-8 md:my-16 text-black bg-white">
              <div class="w-full flex flex-col items-center justify-center bg-zinc-100 p-10 rounded-t-xl px-32">
                <h1 class="text-5xl text-black mb-1">
                  Distribución por sedes
                </h1>
                <Linea class="lg:w-[38rem] mx-auto" />
              </div>
              <div class="mx-auto w-11/12 mb-8 flex items-center justify-center pb-10"> 
                <Distribution />
              </div>
            </section>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="participation-stats">
            <!-- Contenido de Estadísticas de participación -->
            <section class="flex flex-col items-center justify-center w-10/12 mx-auto rounded-xl my-8 md:my-16 text-black bg-white">
              <div class="w-full flex flex-col items-center justify-center bg-zinc-100 p-10 rounded-t-xl px-32">
                <h1 class="text-5xl text-black mb-1">
                  Estadísticas de participación
                </h1>
                <Linea class="lg:w-[48rem] mx-auto" />
              </div>
              <div class="mx-auto"> 
                <Stats />
              </div>
            </section>
          </div>
          
          <div role="tabpanel" class="tab-pane fade" id="baseline">
            <!-- Contenido de Línea Base -->
            <section class="flex flex-col items-center justify-center w-10/12 mx-auto rounded-xl my-8 md:my-16 text-black bg-white">
              <div class="w-full flex flex-col items-center justify-center bg-zinc-100 p-10 rounded-t-xl px-32">
                <h1 class="text-5xl text-black mb-1">Línea Base</h1>
                <Linea class="max-w-\[46rem\] mx-auto" />
              </div>
              <div class="w-full mx-auto mt-10 mb-8">
                <Baseline />
              </div>
            </section>
          </div>
          
          <div role="tabpanel" class="tab-pane fade" id="contact">
            <!-- Contenido de Contacto -->
            <section class="flex flex-col items-center justify-center w-2/3 mx-auto rounded-xl my-8 md:my-16 text-black bg-white">
              <div class="w-full flex flex-col items-center justify-center bg-zinc-100 p-10 rounded-t-xl px-32">
                <h1 class="text-5xl text-black mb-1">
                  Contacto
                </h1>
                <Linea class="md:w-[700px] mx-auto" />
              </div>
              <div class="w-96 mx-auto pb-16">
                <Contact /> 
              </div>
            </section>
          </div>          
        </div>
      </div>
      <div class="w-full bg-white -mb-4">
        <!-- esto es el recuadro blanco del final de cuenco-->
        <Cuenco class="w-\[14rem\] mx-auto mt-1" />
        <Linea class="w-full" />
        <Identificador class="h-44 mx-auto -mt-8 -mb-10" />
      </div>
    </div>
    

<ScrollToTop />

<!-- modal -->
<div class="modal">
  <div class="content-modal">
    <img class="modal-image" />
  </div>
</div>

<style is:global>
  body {
    background-image: url("/img-urdimbre/Imagen-de-fondo-inicio.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80% 100%;
  }

  .franja {
    background-image: url("/img-urdimbre/franja-v.png");
    background-repeat: no-repeat;
    background-size: 30px 100%;
    background-position: left top;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  @media screen and (max-height: 2000px) {
    .franja {
      background-repeat: repeat-y;
      background-size: 30px 100vh;
    }
  }

  .home {
    margin-top: 2rem;
  }

  @media screen and (min-width: 641px) {
    .home {
      margin-top: 5rem;
    }
  }

  .card-container {
    width: 50%;
    height: 40%;
    border: 2px solid #fafafa10;
    border-radius: 1rem;
  }

  .glass-efect {
    background-color: #fafafa10;
    backdrop-filter: blur(4px);
  }

  .card {
    border-radius: 0.5rem;
    padding: 2rem;
    border: 2px solid #fafafa10;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 1rem 0 rgba(31, 38, 135, 0.4);
    backdrop-filter: blur(5px);
  }

  .shd-card {
    transition: box-shadow 0.3s ease;
  }

  .shd-card:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.4);
  }

  .line-title {
    margin-bottom: -100px;
  }

  .section-title {
    font-size: 3.75rem;
    line-height: 1;
  }

  @media only screen and (max-width: 576px) {
    .section-title {
      font-size: 2.8rem;
    }
  }

  @media only screen and (min-width: 577px) and (max-width: 768px) {
    .section-title {
      font-size: 3rem;
    }
  }

  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .section-title {
      font-size: 3.4rem;
    }
  }

  @media only screen and (min-width: 1025px) and (max-width: 1280px) {
    .section-title {
      font-size: 3.75rem;
    }
  }

  #cuenco section {
    margin-top: 5rem;
  }

  @media screen and (max-width: 767px) {
    #cuenco section {
      margin-top: 4rem;
    }
  }

  .bg-tab {
    background-color: hsl(221, 88%, 14%);
    opacity: 0.94;
  }
  .bg-tab-blue {
    background-color: rgb(2, 53, 29);
    opacity: 0.94;
  }
  .bg-tab-green {
    background-color: hsl(221, 88%, 14%);
    opacity: 0.94;
  }
  .bg-tab-purple {
    background-color: #681b54;
    opacity: 0.94;
  }
  .bg-tab-white {
    background-color: #681b54;
  }

  /* carrusel */
  #stats-pics .carousel-indicators,
  #meetings-pics .carousel-indicators {
    margin-bottom: -60px;
    text-align: center;
    z-index: auto;
  }
  #stats-pics .carousel-indicators li,
  #meetings-pics .carousel-indicators li {
    background-color: #c2c2c2;
    border: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  #stats-pics .carousel-indicators li.active,
  #meetings-pics .carousel-indicators li.active {
    background-color: #707070;
  }
  #stats-pics .carousel-control .glyphicon-chevron-left,
  #meetings-pics .carousel-control .glyphicon-chevron-left {
    margin: -1rem -1.3rem;
  }

  #stats-pics .carousel-control .glyphicon-chevron-right,
  #meetings-pics .carousel-control .glyphicon-chevron-right {
    margin: -1.1rem -1.1rem;
  }

  #stats-pics .carousel-control,
  #meetings-pics .carousel-control {
    background-image: none !important;
    margin: auto 100px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  #stats-pics .carousel-control:hover,
  #meetings-pics .carousel-control:hover {
    background-color: rgb(81, 81, 81);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  }

  /* modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .content-modal {
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.637);
    padding: 6px;
    animation: fadeIn 0.3s ease-in;
  }

  @media screen and (max-width: 680px) {
    .content-modal {
      width: 95%;
    }
  }

  @media screen and (min-width: 681px) and (max-width: 790px) {
    .content-modal {
      width: 85%;
      left: 50%;
      top: 50%;
    }
  }

  @media screen and (min-width: 791px) and (max-width: 970px) {
    .content-modal {
      width: 75%;
      left: 50%;
      top: 50%;
    }
  }
  @media screen and (min-width: 971px) and (max-width: 1200px) {
    .content-modal {
      width: 60%;
      left: 50%;
      top: 50%;
    }
  }
  @media screen and (min-width: 1201px) {
    .content-modal {
      width: 46%;
      left: 50%;
      top: 50%;
    }
  }

  .close {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tabs = Array.from(
      document.querySelectorAll(".nav-tabs a")
    ) as HTMLAnchorElement[];

    tabs.forEach((tab) => {
      tab.addEventListener("click", function (event: MouseEvent) {
        const tabId = this.getAttribute("href");
        if (tabId) {
          handleTabClick.call(this, event, tabId);
        }
      });
    });

    function handleTabClick(
      this: HTMLAnchorElement,
      event: MouseEvent,
      tabId: string
    ): void {
      event.preventDefault();
      switch (tabId) {
        case "#home-urdimbre":
          document.body.style.backgroundImage =
            'url("/img-urdimbre/urdimbre-blue.webp")';
          document.body.style.backgroundSize = "cover";
          document.body.style.backgroundRepeat = "no-repeat";
          document.body.style.backgroundPosition = "80% 100%";
          var navTabs = document.querySelectorAll(
            ".nav-tabs a"
          ) as NodeListOf<HTMLAnchorElement>;
          navTabs.forEach(function (tab) {
            tab.style.color = "";
          });
          (
            document.querySelectorAll(
              ".nav.nav-tabs"
            ) as NodeListOf<HTMLElement>
          ).forEach(function (div) {
            div.classList.remove(
              "bg-tab-blue",
              "bg-tab-green",
              "bg-tab-purple",
              "bg-tab",
              "bg-tab-white"
            );
            div.classList.add("bg-tab-green");
          });
          break;
        case "#subjects":
        case "#typologies":
        case "#stats-data":
        case "#diffusion":
        case "#publications":
        case "#events":
          document.body.style.backgroundImage =
            'url("/img-urdimbre/estud-green.webp")';
          document.body.style.backgroundSize = "100% auto";
          document.body.style.backgroundRepeat = "repeat-y";
          document.body.style.backgroundPosition = "top left";
          var navTabs = document.querySelectorAll(
            ".nav-tabs a"
          ) as NodeListOf<HTMLAnchorElement>;
          navTabs.forEach(function (tab) {
            tab.style.color = "";
          });
          (
            document.querySelectorAll(
              ".nav.nav-tabs"
            ) as NodeListOf<HTMLElement>
          ).forEach(function (div) {
            div.classList.remove(
              "bg-tab-blue",
              "bg-tab-green",
              "bg-tab-purple",
              "bg-tab",
              "bg-tab-white"
            );
            div.classList.add("bg-tab-blue");
          });
          break;
        case "#cuenco":
        document.body.style.backgroundImage =
            'url("/img-cuenco/background-cuenco-purple.webp")';
          document.body.style.backgroundSize = "100% auto";
          document.body.style.backgroundRepeat = "repeat-y";
          document.body.style.backgroundPosition = "top left";
          var navTabs = document.querySelectorAll(
            ".nav-tabs a"
          ) as NodeListOf<HTMLAnchorElement>;
          navTabs.forEach(function (tab) {
            tab.style.color = "";
          });
          (
            document.querySelectorAll(
              ".nav.nav-tabs"
            ) as NodeListOf<HTMLElement>
          ).forEach(function (div) {
            div.classList.remove(
              "bg-tab-blue",
              "bg-tab-green",
              "bg-tab-purple",
              "bg-tab",
              "bg-tab-white"
            );
            div.classList.add("bg-tab-purple");
          });
          break;
        default:
          document.body.style.backgroundImage =
            'url("/img-urdimbre/background-urdimbre.webp")';
          document.body.style.backgroundSize = "cover";
          document.body.style.backgroundRepeat = "no-repeat";
          document.body.style.backgroundPosition = "80% 100%";
          break;
      }
    }
  });

  import { ModalService } from "../services/ModalService.ts";

  document.addEventListener("DOMContentLoaded", function () {
    const images = document.querySelectorAll(".img-thumbnail");

    images.forEach(function (image: HTMLImageElement) {
      image.addEventListener("click", function (evt) {
        evt.preventDefault();
        const modal = document.querySelector(".modal") as HTMLElement;
        ModalService.openModal(image, modal);
        ModalService.closeOnKey(modal);
      });
    });

    const modals = document.querySelectorAll(".modal");

    modals.forEach(function (modal: HTMLElement) {
      modal.addEventListener("click", function (event) {
        if (event.target === modal) {
          ModalService.closeModal(modal);
        }
      });
    });
  });
</script>
