---
const { class: className } = Astro.props;
---

<div class=`${className} mt-10`>
  <div id="my-pics" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#my-pics" data-slide-to="0" class="active"></li>
      <li data-target="#my-pics" data-slide-to="1"></li>
      <li data-target="#my-pics" data-slide-to="2"></li>
    </ol>
    <!-- Content -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="row">
          <div class="col-md-6">
            <a href="#" data-toggle="modal" data-target="#abrirModal">
              <img
                src="/img-cuenco/1-encuentro/1-enc-01.webp"
                alt="Primer encuentro"
                class="img-thumbnail"
                data-img="img-cuenco/1-encuentro/1-enc-01.webp"
              />
            </a>
          </div>
          <div class="col-md-6">
            <a href="#" data-toggle="modal" data-target="#abrirModal">
              <img
                src="/img-cuenco/2-encuentro/2-enc-01.webp"
                alt="Segundo encuentro"
                class="img-thumbnail"
                data-img="img-cuenco/2-encuentro/2-enc-01.webp"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-6">
            <a href="#" data-toggle="modal" data-target="#abrirModal">
              <img
                src="/img-cuenco/3-encuentro/3-enc-01.webp"
                alt="Tercer encuentro"
                class="img-thumbnail"
                data-img="img-cuenco/3-encuentro/3-enc-01.webp"
              />
            </a>
          </div>
          <div class="col-md-6">
            <a href="#" data-toggle="modal" data-target="#abrirModal">
              <img
                src="/img-cuenco/3-encuentro/3-enc-02.webp"
                alt="Tercer encuentro"
                class="img-thumbnail"
                data-img="img-cuenco/3-encuentro/3-enc-02.webp"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-6">
            <a href="#" data-toggle="modal" data-target="#abrirModal">
              <img
                src="/img-cuenco/3-encuentro/3-enc-03.webp"
                alt="Tercer encuentro"
                class="img-thumbnail"
                data-img="img-cuenco/3-encuentro/3-enc-03.webp"
              />
            </a>
          </div>
          <div class="col-md-6">
            <a href="#" data-toggle="modal" data-target="#abrirModal">
              <img
                src="/img-cuenco/4-encuentro/4-enc-01.webp"
                alt="Tercer encuentro"
                class="img-thumbnail"
                data-img="img-cuenco/4-encuentro/4-enc-01.webp"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-6">
            <a href="#" data-toggle="modal" data-target="#abrirModal">
              <img
                src="/img-cuenco/4-encuentro/4-enc-02.webp"
                alt="Tercer encuentro"
                class="img-thumbnail"
                data-img="img-cuenco/4-encuentro/4-enc-02.webp"
              />
            </a>
          </div>
          <div class="col-md-6">
            <a href="#" data-toggle="modal" data-target="#abrirModal">
              <img
                src="/img-cuenco/4-encuentro/4-enc-03.webp"
                alt="Tercer encuentro"
                class="img-thumbnail"
                data-img="img-cuenco/4-encuentro/4-enc-03.webp"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-6">
            <a href="#" data-toggle="modal" data-target="#abrirModal">
              <img
                src="/img-cuenco/4-encuentro/4-enc-04.webp"
                alt="Tercer encuentro"
                class="img-thumbnail"
                data-img="img-cuenco/4-encuentro/4-enc-04.webp"
              />
            </a>
          </div>
          <div class="col-md-6">
            <a href="#" data-toggle="modal" data-target="#abrirModal">
              <img
                src="/img-cuenco/4-encuentro/4-enc-05.webp"
                alt="Tercer encuentro"
                class="img-thumbnail"
                data-img="img-cuenco/4-encuentro/4-enc-05.webp"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-6">
            <a href="#" data-toggle="modal" data-target="#abrirModal">
              <img
                src="/img-cuenco/5-encuentro/5-enc-01.webp"
                alt="Tercer encuentro"
                class="img-thumbnail"
                data-img="img-cuenco/5-encuentro/5-enc-01.webp"
              />
            </a>
          </div>
          <div class="col-md-6">
            <a href="#" data-toggle="modal" data-target="#abrirModal">
              <img
                src="/img-cuenco/5-encuentro/5-enc-03.webp"
                alt="Tercer encuentro"
                class="img-thumbnail"
                data-img="img-cuenco/5-encuentro/5-enc-03.webp"
                
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-6">
            <a href="#" data-toggle="modal" data-target="#abrirModal">
              <img
                src="/img-cuenco/5-encuentro/5-enc-04.webp"
                alt="Tercer encuentro"
                class="img-thumbnail"
                data-img="img-cuenco/5-encuentro/5-enc-04.webp"
                
              />
            </a>
          </div>
          <div class="col-md-6">
            <a href="#" data-toggle="modal" data-target="#abrirModal">
              <img
                src="/img-cuenco/5-encuentro/5-enc-05.webp"
                alt="Tercer encuentro"
                class="img-thumbnail"
                data-img="img-cuenco/5-encuentro/5-enc-05.webp"
                
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-6">
            <a href="#" data-toggle="modal" data-target="#abrirModal">
              <img
                src="/img-cuenco/5-encuentro/5-enc-06.webp"
                alt="Tercer encuentro"
                class="img-thumbnail"
                data-img="img-cuenco/5-encuentro/5-enc-06.webp"
              />
            </a>
          </div>
          <div class="col-md-6">
            <a href="#" data-toggle="modal" data-target="#abrirModal">
              <img
                src="/img-cuenco/6-encuentro/6-enc-01.webp"
                alt="Tercer encuentro"
                class="img-thumbnail"
                data-img="img-cuenco/6-encuentro/6-enc-01.webp"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-6">
            <a href="#" data-toggle="modal" data-target="#abrirModal">
              <img
                src="/img-cuenco/6-encuentro/6-enc-02.webp"
                alt="Tercer encuentro"
                class="img-thumbnail"
                data-img="img-cuenco/6-encuentro/6-enc-02.webp"
              />
            </a>
          </div>
          <div class="col-md-6">
            <a href="#" data-toggle="modal" data-target="#abrirModal">
              <img
                src="/img-cuenco/6-encuentro/6-enc-03.webp"
                alt="Tercer encuentro"
                class="img-thumbnail"
                data-img="img-cuenco/6-encuentro/6-enc-03.webp"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-6">
            <a href="#" data-toggle="modal" data-target="#abrirModal">
              <img
                src="/img-cuenco/6-encuentro/6-enc-04.webp"
                alt="Tercer encuentro"
                class="img-thumbnail"
                data-img="img-cuenco/6-encuentro/6-enc-04.webp"
              />
            </a>
          </div>
          <div class="col-md-6">
            <!-- <a href="#" data-toggle="modal" data-target="#abrirModal">
              <img
                src="/img-cuenco/6-encuentro/6-enc-03.webp"
                alt="Tercer encuentro"
                class="img-thumbnail"
                data-img="img-cuenco/6-encuentro/6-enc-03.webp"
              />
            </a> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Previous/Next controls -->
    <a
      class="left carousel-control"
      href="#my-pics"
      role="button"
      data-slide="prev"
    >
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="right carousel-control"
      href="#my-pics"
      role="button"
      data-slide="next"
    >
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<!-- modal -->
<div id="ventanaModal" class="modal">
  <div class="content-modal">
    <img id="modalImage" src="/" alt="Imagen en modal" />
  </div>
</div>

<script>
  var modal = document.getElementById("ventanaModal");
  var span = document.getElementsByClassName("close")[0];
  var images = document.querySelectorAll(".img-thumbnail");
  images.forEach(function (image) {
    image.addEventListener("click", function (evt) {
      evt.preventDefault();
      var imgSrc = this.getAttribute("data-img");
      var modalImage = document.getElementById(
        "modalImage"
      ) as HTMLImageElement;
      modalImage.src = imgSrc;
      modal.style.display = "block";
    });
  });

  span.addEventListener("click", function () {
    modal.style.display = "none";
  });

  window.addEventListener("click", function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  });
</script>
