---
const { class: className } = Astro.props;
import Linea from "../../public/svg/linea.astro";
---

<div class=`${className} mt-10`>
  <!-- <div class="mb-5 pb-2 mx-auto title-bg">
    <h1 class="section-title font-bold text-gray-700 text-center">
      Encuentros Intersedes
    </h1>
    <Linea class="lg:w-[36rem] mx-auto" />
  </div> -->

  <!-- Carousel container -->
  <div id="my-pics" class="carousel slide -mx-4s" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#my-pics" data-slide-to="0" class="active"></li>
      <li data-target="#my-pics" data-slide-to="1"></li>
      <li data-target="#my-pics" data-slide-to="2"></li>
    </ol>
    <!-- Content -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="row">
          <div class="col-md-6">
            <a href="#" data-toggle="modal" data-target="#abrirModal">
              <img
                src="img-encuentros/1-encuentro/1-enc-01.webp"
                alt="Primer encuentro"
                class="img-thumbnail"
                data-img="img-encuentros/1-encuentro/1-enc-01.webp"
                loading="lazy"
              />
            </a>
          </div>
          <div class="col-md-6">
            <a href="#" data-toggle="modal" data-target="#abrirModal">
              <img
                src="img-encuentros/2-encuentro/2-enc-01.webp"
                alt="Segundo encuentro"
                class="img-thumbnail"
                data-img="img-encuentros/2-encuentro/2-enc-01.webp"
                loading="lazy"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-6">
            <a href="#" data-toggle="modal" data-target="#abrirModal">
              <img
                src="img-encuentros/3-encuentro/3-enc-01.webp"
                alt="Tercer encuentro"
                class="img-thumbnail"
                data-img="img-encuentros/3-encuentro/3-enc-01.webp"
                loading="lazy"
              />
            </a>
          </div>
          <div class="col-md-6">
            <a href="#" data-toggle="modal" data-target="#abrirModal">
              <img
                src="img-encuentros/4-encuentro/4-enc-01.webp"
                alt="Tercer encuentro"
                class="img-thumbnail"
                data-img="img-encuentros/4-encuentro/4-enc-01.webp"
                loading="lazy"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-6">
            <a href="#" data-toggle="modal" data-target="#abrirModal">
              <img
                src="img-encuentros/5-encuentro/5-enc-01.webp"
                alt="Tercer encuentro"
                class="img-thumbnail"
                data-img="img-encuentros/5-encuentro/5-enc-01.webp"
                loading="lazy"
              />
            </a>
          </div>
          <div class="col-md-6">
            <a href="#" data-toggle="modal" data-target="#abrirModal">
              <img
                src="img-encuentros/5-encuentro/5-enc-01.webp"
                alt="Tercer encuentro"
                class="img-thumbnail"
                data-img="img-encuentros/5-encuentro/5-enc-01.webp"
                loading="lazy"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Previous/Next controls -->
    <a
      class="left carousel-control"
      href="#my-pics"
      role="button"
      data-slide="prev"
    >
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="right carousel-control"
      href="#my-pics"
      role="button"
      data-slide="next"
    >
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div id="ventanaModal" class="modal">
  <div class="content-modal">
    <span class="close">&times;</span>
    <img id="modalImage" src="" alt="Imagen en modal" />
  </div>
</div>

<script>
  var modal = document.getElementById("ventanaModal");
  var span = document.getElementsByClassName("close")[0];
  var images = document.querySelectorAll(".img-thumbnail");
  images.forEach(function (image) {
    image.addEventListener("click", function (evt) {
      evt.preventDefault();
      var imgSrc = this.getAttribute("data-img");
      var modalImage = document.getElementById(
        "modalImage"
      ) as HTMLImageElement;
      modalImage.src = imgSrc;
      modal.style.display = "block";
    });
  });

  span.addEventListener("click", function () {
    modal.style.display = "none";
  });

  window.addEventListener("click", function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  });
</script>

<style>
  .carousel-indicators {
    margin-bottom: -60px;
    text-align: center;
    z-index: auto;
  }
  .carousel-indicators li {
    background-color: #c2c2c2; /* Color de fondo para los indicadores inactivos */
    border: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .carousel-indicators li.active {
    background-color: #707070; /* Color de fondo para el indicador activo */
  }

  .modal {
    display: none; /* Por defecto, estará oculto */
    position: fixed; /* Posición fija */
    z-index: 1; /* Se situará por encima de otros elementos de la página*/
    padding-top: 100px; /* El contenido estará situado a 200px de la parte superior */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Algura completa */
    overflow: auto; /* Se activará el scroll si es necesario */
    background-color: rgba(0, 0, 0, 0.5); /* Color negro con opacidad del 50% */
  }

  /* @media screen and(max-width: 1300px) {
    .modal {
      padding-top: 100px;
    }
  } */

  .content-modal {
    border-radius: 5px;
    position: relative; /* Relativo con respecto al contenedor -modal- */
    background-color: white;
    margin: 0 auto; /* Centrada */
    padding: 8px;
    max-width: 80%;
    width: auto;
    -webkit-animation-name: animarsuperior;
    -webkit-animation-duration: 0.5s;
    animation-name: animarsuperior;
    animation-duration: 0.5s;
  }

  @media screen and (max-width: 767px) {
    .content-modal {
      width: auto;
      max-width: 90%;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1399px) {
    .content-modal {
      width: auto;
      max-width: 80%;
    }
  }
  @media screen and (min-width: 1400px) {
    .content-modal {
      width: auto;
      max-width: 70%;
    }
  }

  @-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  @keyframes animarsuperior {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  .close {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
</style>
