---
const { class: className } = Astro.props;
import Linea from "../../public/svg/linea.astro";
---

<div class={`${className}`}>
  <div id="meetings-pics" class="carousel slide" data-ride="carousel" data-interval="5000">
    <ol class="carousel-indicators">
      <li data-target="#meetings-pics" data-slide-to="0" class="active"></li>
      <li data-target="#meetings-pics" data-slide-to="1"></li>
      <li data-target="#meetings-pics" data-slide-to="2"></li>
      <li data-target="#meetings-pics" data-slide-to="3"></li>
      <li data-target="#meetings-pics" data-slide-to="4"></li>
      <li data-target="#meetings-pics" data-slide-to="5"></li>
      <li data-target="#meetings-pics" data-slide-to="6"></li>
      <li data-target="#meetings-pics" data-slide-to="7"></li>
      <li data-target="#meetings-pics" data-slide-to="8"></li>
      <li data-target="#meetings-pics" data-slide-to="9"></li>
    </ol>
    <!-- Content -->
    <div class="carousel-inner border-2 border-white p-1.5" role="listbox">
      <div class="item active">
        <div class="row">
          <div class="col-md-12">
              <img
                src="/img-cuenco/1-encuentro/1-enc-01.webp"
                alt="Primer encuentro"
                class="img-responsive"
                style="width: 100%; height: auto;"
              />
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <img
                src="/img-cuenco/2-encuentro/2-enc-01.webp"
                alt="Segundo encuentro"
                class="img-responsive"
                style="width: 100%; height: auto;"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <img
                src="/img-cuenco/3-encuentro/3-enc-01.webp"
                alt="Tercer encuentro"
                class="img-responsive"
                style="width: 100%; height: auto;"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <img
                src="/img-cuenco/3-encuentro/3-enc-02.webp"
                alt="Tercer encuentro"
                class="img-responsive"
                style="width: 100%; height: auto;"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <img
                src="/img-cuenco/3-encuentro/3-enc-03.webp"
                alt="Tercer encuentro"
                class="img-responsive"
                style="width: 100%; height: auto;"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <img
                src="/img-cuenco/4-encuentro/4-enc-01.webp"
                alt="Cuarto encuentro"
                class="img-responsive"
                style="width: 100%; height: auto;"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <img
                src="/img-cuenco/4-encuentro/4-enc-02.webp"
                alt="Cuarto encuentro"
                class="img-responsive"
                style="width: 100%; height: auto;"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <img
                src="/img-cuenco/4-encuentro/4-enc-03.webp"
                alt="Cuarto encuentro"
                class="img-responsive"
                style="width: 100%; height: auto;"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <img
                src="/img-cuenco/4-encuentro/4-enc-04.webp"
                alt="Cuarto encuentro"
                class="img-responsive"
                style="width: 100%; height: auto;"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <img
                src="/img-cuenco/4-encuentro/4-enc-05.webp"
                alt="Cuarto encuentro"
                class="img-responsive"
                style="width: 100%; height: auto;"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <img
                src="/img-cuenco/5-encuentro/5-enc-01.webp"
                alt="Quinto encuentro"
                class="img-responsive"
                style="width: 100%; height: auto;"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <img
              src="/img-cuenco/5-encuentro/5-enc-03.webp"
              alt="Quinto encuentro"
              class="img-responsive"
              style="width: 100%; height: auto;"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <img
              src="/img-cuenco/5-encuentro/5-enc-04.webp"
              alt="Quinto encuentro"
              class="img-responsive"
              style="width: 100%; height: auto;"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <img
              src="/img-cuenco/5-encuentro/5-enc-05.webp"
              alt="Quinto encuentro"
              class="img-responsive"
              style="width: 100%; height: auto;"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <img
              src="/img-cuenco/5-encuentro/5-enc-06.webp"
              alt="Quinto encuentro"
              class="img-responsive"
              style="width: 100%; height: auto;"
              />
            </a>
          </div>
        </div>
      </div>
          
      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <img
              src="/img-cuenco/6-encuentro/6-enc-01.webp"
              alt="Quinto encuentro"
              class="img-responsive"
              style="width: 100%; height: auto;"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <img
              src="/img-cuenco/6-encuentro/6-enc-02.webp"
              alt="Quinto encuentro"
              class="img-responsive"
              style="width: 100%; height: auto;"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <img
              src="/img-cuenco/6-encuentro/6-enc-03.webp"
              alt="Quinto encuentro"
              class="img-responsive"
              style="width: 100%; height: auto;"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <img
                src="/img-cuenco/6-encuentro/6-enc-04.webp"
                alt="Quinto encuentro"
                class="img-responsive"
                style="width: 100%; height: auto;"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <img
                src="/img-cuenco/7-encuentro/7-enc-01.webp"
                alt="Quinto encuentro"
                class="img-responsive"
                style="width: 100%; height: auto;"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <img
                src="/img-cuenco/7-encuentro/7-enc-02.webp"
                alt="Quinto encuentro"
                class="img-responsive"
                style="width: 100%; height: auto;"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <img
                src="/img-cuenco/7-encuentro/7-enc-03.webp"
                alt="Quinto encuentro"
                class="img-responsive"
                style="width: 100%; height: auto;"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <img
                src="/img-cuenco/7-encuentro/7-enc-04.webp"
                alt="Quinto encuentro"
                class="img-responsive"
                style="width: 100%; height: auto;"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <img
                src="/img-cuenco/7-encuentro/7-enc-05.webp"
                alt="Quinto encuentro"
                class="img-responsive"
                style="width: 100%; height: auto;"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <img
                src="/img-cuenco/7-encuentro/7-enc-06.webp"
                alt="Quinto encuentro"
                class="img-responsive"
                style="width: 100%; height: auto;"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <img
                src="/img-cuenco/8-encuentro/8-enc-01.webp"
                alt="Quinto encuentro"
                class="img-responsive"
                style="width: 100%; height: auto;"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <img
                src="/img-cuenco/8-encuentro/8-enc-02.webp"
                alt="Quinto encuentro"
                class="img-responsive"
                style="width: 100%; height: auto;"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <img
                src="/img-cuenco/8-encuentro/8-enc-03.webp"
                alt="Quinto encuentro"
                class="img-responsive"
                style="width: 100%; height: auto;"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <img
                src="/img-cuenco/8-encuentro/8-enc-04.webp"
                alt="Quinto encuentro"
                class="img-responsive"
                style="width: 100%; height: auto;"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <img
                src="/img-cuenco/8-encuentro/8-enc-05.webp"
                alt="Quinto encuentro"
                class="img-responsive"
                style="width: 100%; height: auto;"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <img
                src="/img-cuenco/8-encuentro/8-enc-06.webp"
                alt="Quinto encuentro"
                class="img-responsive"
                style="width: 100%; height: auto;"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Previous/Next controls -->
    <a
      class="left carousel-control"
      href="#meetings-pics"
      role="button"
      data-slide="prev"
    >
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="right carousel-control"
      href="#meetings-pics"
      role="button"
      data-slide="next"
    >
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

 <!-- Carrusel de videos -->
<div class="mt-20">
  <div id="meetings-videos" class="carousel slide" data-ride="carousel" data-interval="5000">
    <div class="carousel-inner">
      <div class="item active">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <div class="video-container">
                <iframe
                  src="https://www.youtube.com/embed/JGJF1W8K0F4?rel=0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#meetings-modal">
              <div class="video-container">
                <iframe
                  src="https://www.youtube.com/embed/PECNV0hvuzA?rel=0"
                  title="Asignaturas Interdisciplinares: Taller Interdisciplinar"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-indicators-container">
      <ol class="carousel-indicators custom-indicators">
        <li data-target="#meetings-videos" data-slide-to="0" class="active"></li>
        <li data-target="#meetings-videos" data-slide-to="1"></li>
      </ol>
    </div>

    <a class="left carousel-control custom-control" href="#meetings-videos" role="button" data-slide="prev">
      <span class="custom-arrow left-arrow"></span>
    </a>
    <a class="right carousel-control custom-control" href="#meetings-videos" role="button" data-slide="next">
      <span class="custom-arrow right-arrow"></span>
    </a>
  </div>

  <style>
    .video-container {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      border: 4px solid white;
      border-radius: 4px;
    }

    .video-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .carousel-indicators-container {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 20px;
      padding: 5px 10px;
      display: flex;
      justify-content: center;
      margin-top: 40px;
    }

    .custom-indicators {
      margin: 0;
      display: flex;
      align-items: center;
    }

    .custom-indicators li {
      width: 12px;
      height: 12px;
      margin: 0 5px;
      border-radius: 50%;
      background-color: #ccc;
    }

    .custom-indicators .active {
      background-color: #333;
    }

    .custom-control {
      opacity: 1;
      transition: opacity 0.3s ease;
      width: 50px;
      height: 50px;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 20px;
    }

    .custom-control:hover {
      background-color: rgba(68, 63, 63, 0.8);
    }

    .custom-arrow {
      display: inline-block;
      width: 20px;
      height: 20px;
      position: relative;
    }

    .left-arrow::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 10px;
      border-top: 2px solid #faf6f6;
      border-left: 2px solid #faf6f6;
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    .right-arrow::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 10px;
      border-top: 2px solid #faf6f6;
      border-right: 2px solid #faf6f6;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  </style>
</div>

 <!-- Actas encuentros intersedes -->
<div class="titulo-seccion flex flex-col items-center mt-4 mb-4 sm:mt-6 sm:mb-6 md:mt-8 md:mb-8 lg:mt-10 lg:mb-10">
  <h1 class="text-3xl sm:text-4xl md:text-5xl text-center text-black mb-1">
    Actas Encuentros Intersedes
  </h1>
  <Linea class="w-full max-w-[90%] lg:max-w-[48rem] mx-auto" />
</div>
<div class="w-full md:order-0">
  <div class="bg-white shadow-md py-4 px-20 pb-10">
    <div class="Actas grid md:grid-cols-3 xl:grid-cols-2 gap-6">
      <div class="Acta">
        <h2 class="text-center text-2xl font-bold mb-4">Acta 1 Encuentro Intersedes Virtual</h2>
        <div class="flex flex-col items-center">
          <img src="/Rótulos Encuentros Intersedes/1er-Encuentro.png" alt="portada" class="w-full max-w-[200px] h-auto mb-4 object-contain"/>
          <a
          href="/Actas/Acta 1er Encuentro Intersedes.pdf"
          target="_blank"
            rel="noopener noreferrer"
            class="bg-[#681b54] hover:bg-[#681b54] font-bold py-2 px-6 rounded text-center"
            style="color:white"
          >
            Descargar
          </a>
        </div>
      </div>

      <div class="Acta">
        <h2 class="text-center text-2xl font-bold mb-4">Acta 2 Encuentro Intersedes Virtual</h2>
        <div class="flex flex-col items-center">
          <img src="/Rótulos Encuentros Intersedes/2do-Encuentro.png" alt="portada" class="w-full max-w-[200px] h-auto mb-4 object-contain"/>
          <a
            href="/Actas/Acta 2do Encuentro Intersedes.pdf"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-[#681b54] hover:bg-[#681b54] font-bold py-2 px-6 rounded text-center"
            style="color:white"
          >
            Descargar
          </a>
        </div>
      </div>

      <div class="Acta">
        <h2 class="text-center text-2xl font-bold mb-4">Acta 3 Encuentro Intersedes Manizales</h2>
        <div class="flex flex-col items-center">
          <img src="/Rótulos Encuentros Intersedes/3er-Encuentro.png" alt="portada" class="w-full max-w-[200px] h-auto mb-4 object-contain"/>
          <a
            href="/Actas/Acta 3er Encuentro Intersedes.pdf"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-[#681b54] hover:bg-[#681b54] font-bold py-2 px-6 rounded text-center"
            style="color:white"
          >
            Descargar
          </a>
        </div>
      </div>

      <div class="Acta">
        <h2 class="text-center text-2xl font-bold mb-4">Acta 4 Encuentro Intersedes Amazonía</h2>
        <div class="flex flex-col items-center">
          <img src="/Rótulos Encuentros Intersedes/4to-Encuentro.png" alt="portada" class="w-full max-w-[200px] h-auto mb-4 object-contain"/>
          <a
            href="/Actas/Acta 4to Encuentro Intersedes.pdf"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-[#681b54] hover:bg-[#681b54] font-bold py-2 px-6 rounded text-center"
            style="color:white"
          >
            Descargar
          </a>
        </div>
      </div>

      <div class="Acta">
        <h2 class="text-center text-2xl font-bold mb-4">Acta 5 Encuentro Intersedes Caribe</h2>
        <div class="flex flex-col items-center">
          <img src="/Rótulos Encuentros Intersedes/5to-Encuentro.png" alt="portada" class="w-full max-w-[200px] h-auto mb-4 object-contain"/>
          <a
            href="/Actas/Acta 5to Encuentro Intersedes.pdf"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-[#681b54] hover:bg-[#681b54] font-bold py-2 px-6 rounded text-center"
            style="color:white"
          >
            Descargar
          </a>
        </div>
      </div>

      <div class="Acta">
        <h2 class="text-center text-2xl font-bold mb-4">Acta 6 Encuentro Intersedes Virtual</h2>
        <div class="flex flex-col items-center">
          <img src="/Rótulos Encuentros Intersedes/6to-Encuentro.png" alt="portada" class="w-full max-w-[200px] h-auto mb-4 object-contain"/>
          <a
            href="/Actas/Acta 6to Encuentro Intersedes.pdf"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-[#681b54] hover:bg-[#681b54] font-bold py-2 px-6 rounded text-center"
            style="color:white"
          >
            Descargar
          </a>
        </div>
      </div>

      <div class="Acta">
        <h2 class="text-center text-2xl font-bold mb-4">Acta 7 Encuentro Intersedes Orinoquía</h2>
        <div class="flex flex-col items-center">
          <img src="/Rótulos Encuentros Intersedes/7mo-Encuentro.png" alt="portada" class="w-full max-w-[200px] h-auto mb-4 object-contain"/>
          <a
            href="/Actas/Acta 7mo Encuentro Intersedes.pdf"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-[#681b54] hover:bg-[#681b54] font-bold py-2 px-6 rounded text-center"
            style="color:white"
          >
            Descargar
          </a>
        </div>
      </div>

      <div class="Acta">
        <h2 class="text-center text-2xl font-bold mb-4">Acta 8 Encuentro Intersedes Tumaco</h2>
        <div class="flex flex-col items-center">
          <img src="/Rótulos Encuentros Intersedes/8vo-Encuentro.png" alt="portada" class="w-full max-w-[200px] h-auto mb-4 object-contain"/>
          <a
            href="/Actas/Acta 8vo Encuentro Intersedes.pdf"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-[#681b54] hover:bg-[#681b54] font-bold py-2 px-6 rounded text-center"
            style="color:white"
         > 
            Descargar
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<style>
  .Acta{
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 1rem;
  }

  .Acta h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
  }

  .Acta p {
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 0.7rem;
  }

  .Acta a {
    color: white;
    text-decoration: none;
    background-color: #681b54;
  }

  .Acta a:hover {
    text-decoration: underline;
    target: _blank;
  }
</style>

