---
import Cuenco from "../../public/svg/cuenco.astro";

export const navItems = [
  {
    title: "Cuenco",
    url: "#home",
    label: "home",
  },
  {
    title: "¿Quiénes Somos?",
    url: "#about",
    label: "about",
    icon: "/svg/about.png",
  },
  {
    title: "Encuentros Intersedes",
    url: "#meetings",
    label: "meetings",
    icon: "/svg/meetings.png",
  },
  {
    title: "Estadísticas de participación",
    url: "#stats",
    label: "stats",
    icon: "/svg/stats.png",
  },
  // {
  //   title: "Videos",
  //   url: "#videos",
  //   label: "videos",
  //   icon: "/svg/youtube.png",
  // },
  {
    title: "Línea Base",
    url: "#baseline",
    label: "baseline",
    icon: "/svg/baseline.png",
  },
  {
    title: "Contacto",
    url: "#contact",
    label: "contact",
    icon: "/svg/contact.png",
  },
];
---

<div
  class="hidden md:flex items-center mx-auto z-10 text-black"
  id="my-navbar"
>
  <nav
    class="flex flex-row items-center w-full justify-around backdrop-blur-2xl"
    style="background-color:rgb(230, 230, 230)"
  >
    <Cuenco style="height: 55px;" />
    <!-- sm:flex-col sm:py-2 sm:px-0 lg:flex-row  -->
    {
      navItems.map((link) => (
        <a
          class="pill flex items-center hover:bg-white/10 sm:text-base md:text-xs
          transition ease-in lg:whitespace-nowrap
          md:px-3 md:py-2 lg:px-3 xl:px-6 2xl:px-10
          sm:flex-col sm:py-2 sm:px-0 lg:flex-row 
          "
          aria-label={link.label}
          href={link.url}
        >
          {link.icon && <img src={link.icon} class="icon-navbar" />}
          {link.title}
        </a>
      ))
    }
  </nav>
</div>

<style>
  .icon-navbar {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  
  nav {
    animation: nav-shadow 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 400px;
  }
  @keyframes nav-shadow {
    to {
      @apply shadow-xl;
    }
  }

  .pill {
    text-align: center;
    font-size: large;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      transform 0.3s ease-in;
    will-change: transform;
  }
  .pill:hover {
    /* background-color: #9db4d7; */
    text-decoration: none;
    transform: scale(1.12);
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("section");
    const navItems = document.querySelectorAll("header nav a");

    const callback = (entries: IntersectionObserverEntry[]) => {
      entries.forEach((entry) => {
        navItems.forEach((item) => {
          const isLinkActive =
            item.getAttribute("aria-label") === entry.target.id;
          item.classList.toggle("link-active", isLinkActive);
        });
      });
    };

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.3,
    });

    sections.forEach((section) => {
      observer.observe(section);
    });

    window.addEventListener("beforeunload", () => {
      observer.disconnect();
    });
  });

  window.addEventListener("scroll", () => {
    const navbar = document.getElementById("my-navbar");
    const headerHeight = document.querySelector("header")!.offsetHeight + 60;

    if (window.scrollY >= headerHeight) {
      navbar?.classList.add("navbar-fixed-top");
    } else {
      navbar?.classList.remove("navbar-fixed-top");
    }
  });
</script>
