<div class="${className} w-10/12 m-auto my-8 md:my-16">
  <div class="w-full flex flex-col md:flex-row items-center justify-between bg-zinc-100 p-2 rounded-t-xl md:px-32">
    <h1 class="text-3xl md:text-5xl text-black mb-2 md:mb-0">Publicaciones</h1>
    <img class="max-h-24 md:max-h-32 object-cover overflow-hidden" src="/img-urdimbre/logo-urdimbre.webp" alt="logo" />
  </div>

  <div class="w-full md:order-0">
    <div class="bg-white shadow-md py-4 px-4 md:px-20 pb-10">
      <!-- <h3 class="text-center text-3xl font-bold p-4 mb-4">~ Nombre Publicación ~
      </h3> 
      <div class="flex flex-col items-center">
        <div class="w-[300px] ">
          <p class="text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quis
            quidem dolor molestias incidunt possimus molestiae reiciendis
            explicabo! Nostrum sunt suscipit quas consequuntur harum maxime sed
            fugiat dicta animi impedit.
          </p>
        </div>
        <div class="ml-autos sm:pb-3 pt-8">
          <a href="resources/testpdf.pdf" download>
            <button
              type="button"
              class="bg-blue-500 text-white px-4 py-2 rounded focus:outline-none focus:shadow-outline-green"
              >Descargar</button
            >
          </a>
        </div>
      </div> -->
      <div class="publicaciones grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="publicacion">
          <h2>Hoyos Bustamante, Gloria (2023)</h2>
          <div class="grid md:grid-cols-3 gap-2">
            <img src="/img-urdimbre/publications/p-01.png" alt="portada" />
            <p class="col-span-2 text-justify">
              Experiencias significativas: de la creatividad a la acción
              intra-universitaria. En <i><b>Memorias del Diplomado en Economía Social
              y Solidaria 2021.</b></i> Rivas Guzmán, Álvaro; García Mejía, Jairo;
              Libreros González, Harold Humberto; Torres Chacón, Ricardo; Hoyos
              Bustamante, Gloria; Clavijo, Santiago (Editores). pp. 177 - 188.
              ISSN: 2954-7377. Deposito legal: https://www.fodun.com.co/.
              <!-- <a
                href="https://www.fodun.com.co/boletin/74/memorias-diplomado-ecosol"
                target="_blank"
                >https://www.fodun.com.co/boletin/74/memorias-diplomado-ecosol</a
              > -->
            </p>
            <a
            href="https://www.fodun.com.co/boletin/74/memorias-diplomado-ecosol"
            target="_blank"
              rel="noopener noreferrer"
              class="bg-blue-600 hover:bg-blue-700 font-bold py-2 px-4 rounded text-center"
              style="color:white"
            >
              Descargar
            </a>
          </div>
        </div>

        <div class="publicacion">
          <h2>Hoyos Bustamante, Gloria (2023)</h2>
          <div class="grid md:grid-cols-3 gap-2">
            <img src="/img-urdimbre/publications/p-02.webp" alt="portada" />
            <p class="col-span-2 text-justify">
              Strategy for Building a Transformative Relationship Between the
              Academy and the Social and Business Environment Through
              Interdisciplinary Work. En Lehtonen, M.J., Kauppinen, T., Sivula,
              L. (eds) <i><b>Design Education Across Disciplines</b></i>. Palgrave Macmillan,
              Cham. pp 207-219. ISBN 978-3-031-23151-3; ISBN 978-3-031-23152-0
              (eBook)
              <!-- <a
              href="https://doi.org/10.1007/978-3-031-23152-0_13"
              target="_blank"
              >https://link.springer.com/chapter/10.1007/978-3-031-23152-0_13</a
            > -->
            </p>
            <a
              href="https://link.springer.com/chapter/10.1007/978-3-031-23152-0_13"
              target="_blank"
              rel="noopener noreferrer"
              class="bg-blue-600 hover:bg-blue-700 font-bold py-2 px-4 rounded text-center"
              style="color:white"
            >
              Descargar
            </a>
          </div>
        </div>

        <div class="publicacion">
          <h2>Muñoz Escobar, Luisa Fernanda (Ed.) (2023)</h2>
          <div class="grid md:grid-cols-3 gap-2">
            <img src="/img-urdimbre/publications/p-03.png" alt="portada" />
            <p class="col-span-2 text-justify h-full">
              <i><b>Sostenibilidad y cambio climático. Memorias Curso Empresa FIA V -
              Grupo Argos.</b></i> Manizales: Dirección Nacional de Innovación Académica
              - DNIA; Facultad Ingeniería y Arquitectura; Universidad Nacional
              de Colombia. ISSN (en línea): 978-628-01-01-34-7.
              <!-- <a
                href="/publicaciones/sostenibilidad y cambio climatico.pdf"
                target="_blank">Descargar PDF</a
              > -->
            </p>
            <a
            href="/publicaciones/sostenibilidad y cambio climatico.pdf"
            target="_blank"
              rel="noopener noreferrer"
              class="bg-[#8dc2b2] font-bold py-2 px-4 rounded text-center"
            >
              Descargar
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .publicacion {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 1rem;
  }

  .publicacion h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
  }

  .publicacion p {
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 0.7rem;
  }

  .publicacion a {
    color: white;
    text-decoration: none;
    background-color: #8dc2b2;
  }

  .publicacion a:hover {
    text-decoration: underline;
    target: _blank;
  }
</style>
