<div class="flex flex-col justify-center w-[80vw] mx-auto my-10 min-h-[60vh]">
  <div
    class="w-full flex flex-row items-center justify-between bg-zinc-100 p-2 rounded-t-xl px-32"
  >
    <h1 class="text-4xl text-black">Publicaciones</h1>
    <img
      class="max-h-24 object-cover overflow-hidden"
      src="/img-urdimbre/logo-urdimbre.webp"
      alt="logo"
    />
  </div>

  <div class="w-full md:order-0">
    <div class="bg-white shadow-md py-4">
      <h3 class="text-center text-3xl font-bold p-4 mb-4">~ Nombre Publicación ~
      </h3>
      <div class="flex flex-col items-center">
        <div class="w-[300px] ">
          <p class="text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quis
            quidem dolor molestias incidunt possimus molestiae reiciendis
            explicabo! Nostrum sunt suscipit quas consequuntur harum maxime sed
            fugiat dicta animi impedit.
          </p>
        </div>
        <div class="ml-autos sm:pb-3 pt-8">
          <a href="resources/testpdf.pdf" download>
            <button
              type="button"
              class="bg-blue-500 text-white px-4 py-2 rounded focus:outline-none focus:shadow-outline-green"
              >Descargar</button
            >
          </a>
        </div>
        <!-- <div class="ml-5 md:ml-auto">
                    <img class="max-w-[200px]" src="/img-urdimbre/logo-urdimbre.webp" alt="Logo asignaturas interdisciplinares.">
                </div> -->
      </div>
    </div>
  </div>
</div>
