---
const { class: className, id } = Astro.props;
---

<section
  id={id}
  class=`flex flex-col items-center justify-center md:min-h-[60vh] lg:min-h-[80vh]
  my-10 md:my-32 ${className}`
>
  <slot />
</section>
