---
const { class: className } = Astro.props;
---

<div class={`${className} `}>
  <!-- Carousel container -->
  <div id="stats-pics" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#stats-pics" data-slide-to="0" class="active"></li>
        <li data-target="#stats-pics" data-slide-to="1"></li>
        <li data-target="#stats-pics" data-slide-to="2"></li>
        <li data-target="#stats-pics" data-slide-to="3"></li>
        <li data-target="#stats-pics" data-slide-to="4"></li>
        <li data-target="#stats-pics" data-slide-to="5"></li>
        <li data-target="#stats-pics" data-slide-to="6"></li> 
        <li data-target="#stats-pics" data-slide-to="7"></li>
    </ol>
    <div class="carousel-inner border-2 border-white p-2" role="listbox">
        <div class="item active">
            <div class="row">
                <div class="col-md-12">
                    <img src="/img-cuenco/metricas/stats-00.png" alt="Total de encuentros"
                         class="img-responsive"/>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-md-12">
                    <img src="/img-cuenco/metricas/stats-n0.png" alt="Primer encuentro"
                         class="img-responsive" />
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-md-12">
                    <img src="/img-cuenco/metricas/stats-n1.png" alt="Primer encuentro"
                         class="img-responsive" />
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-md-12">
                    <img src="/img-cuenco/metricas/stats-n2.png" alt="Primer encuentro"
                         class="img-responsive" />
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-md-12">
                    <img src="/img-cuenco/metricas/stats-n3.png" alt="Primer encuentro"
                         class="img-responsive" />
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-md-12">
                    <img src="/img-cuenco/metricas/stats-01.png" alt="Primer encuentro"
                         class="img-responsive" />
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-md-12">
                    <img src="/img-cuenco/metricas/stats-02.png" alt="Segundo encuentro"
                         class="img-responsive" />
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-md-12">
                    <img src="/img-cuenco/metricas/stats-03.png" alt="Tercer encuentro"
                         class="img-responsive" />
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-md-12">
                    <img src="/img-cuenco/metricas/stats-04.png" alt="Cuarto encuentro"
                         class="img-responsive" />
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-md-12">
                    <img src="/img-cuenco/metricas/stats-05.png" alt="Quinto encuentro"
                         class="img-responsive" />
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-md-12">
                    <img src="/img-cuenco/metricas/stats-06.png" alt="Sexto encuentro"
                         class="img-responsive" />
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-md-12">
                    <img src="/img-cuenco/metricas/stats-07.png" alt="Septimo encuentro"
                         class="img-responsive" />
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-md-12">
                    <img src="/img-cuenco/metricas/stats-08.png" alt="Septimo encuentro"
                         class="img-responsive" />
                </div>
            </div>
        </div>
    </div>

    <!-- Previous/Next controls -->
    <a class="carousel-control-prev absolute top-1/2 left-4 lg:left-8 transform -translate-y-1/2 text-gray-600 hover:text-gray-900 transition duration-300" href="#stats-pics" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left text-2xl lg:text-3xl"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next absolute top-1/2 right-4 lg:right-8 transform -translate-y-1/2 text-gray-600 hover:text-gray-900 transition duration-300" href="#stats-pics" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right text-2xl lg:text-3xl"></span>
        <span class="sr-only">Next</span>
    </a>
</div>