<div
  class="flex flex-col items-center justify-center w-10/12 mx-auto rounded-xl my-8 md:my-16 text-white
  bg-[#c2c2c2]"
>
  <div
    class="w-full flex flex-row items-center justify-between bg-zinc-100 p-2 rounded-t-xl px-32"
  >
    <h1 class="text-5xl text-black">Tipologías</h1>
    <img
      class="max-h-32 object-cover overflow-hidden"
      src="/img-urdimbre/logo-urdimbre.webp"
      alt="logo"
    />
  </div>

  <div class="contenedor-menu bg-white w-10/12">
    <a href="#" class="btn-menu">Menu<i class="icono fa fa-bars"></i></a>
    <!-- Presentación -->
    <div class="presentation text-justify">
      <h2 class="text-4xl py-6 text-center">
        Presentación Asignaturas Interdisciplinares
      </h2>
      <div class="grid md:grid-cols-2">
        <div>
          <p>
            A partir del 2019 implementamos un grupo de asignaturas como
            estrategia para el relacionamiento con el medio social y
            empresarial, a través del trabajo interdisciplinar. Esta estrategia
            se diseñó desde la Vicedecanatura Académica de Ingeniería y
            Arquitectura (2018 - 2020) y las asignaturas se ofertaron desde el
            programa de Arquitectura y Urbanismo, perteneciente a la Facultad de
            Ingeniería y Arquitectura (FIA), Sede Manizales.
          </p>
          <p>
            Desde entonces, las asignaturas interdisciplinares acogen a
            estudiantes de todos los programas de las tres facultades de nuestra
            Sede, y en algunos casos, a estudiantes de otras Sedes también.
            Tenemos como fin promover la formación integral de l@s estudiantes,
            ligada a problemáticas reales, las cuales propicien la integración
            con el entorno y su participación activa en el desarrollo local,
            regional y nacional. De esta manera, trabajamos en función de la
            proyección en los territorios del círculo virtuoso de los tres ejes
            misionales de la UNal: docencia, investigación y extensión, en
            consonancia con el Propósito Superior institucional:
          </p>
        </div>
        <div>
          <p>
            <i>
              Ser la universidad de la Nación que, como centro de cultura y
              conocimiento, forma ciudadanos íntegros, responsables y autónomos,
              orientados a ser agentes de cambio con conciencia ética y social,
              capaces de contribuir a la construcción nacional, desde la riqueza
              y diversidad de las regiones, y desde el respeto por la diferencia
              y la inclusión social (UNal, 2019).
            </i>
          </p>
          <p>
            La implementación de asignaturas interdisciplinares y transversales
            a todas las carreras, así como del Proyecto Urdimbre como grupo de
            acción, implica gestionar cambios en roles y responsabilidades de la
            comunidad universitaria, constituida por administrativos, docentes y
            estudiantes. Así, el diseño propuesto como articulador de diversos
            campos del conocimiento y de las funciones misionales establecidas,
            emerge, además, como dinamizador de la transformación en la gestión
            administrativa, dentro y fuera de la Academia.
          </p>
        </div>
      </div>
    </div>

    <ul class="menu">
      <!-- T1 -->
      <li class="activado">
        <a href="#"
          ><i class="icono izquierda fa fa-star"></i>
          Tipología 1: Cátedra Novus. Innovación y Emprendimiento: De la creatividad
          a la acción
          <i class="icono derecha fa fa-chevron-down"></i></a
        >
        <ul>
          <div class="bg-white mx-auto my-8 p-4 rounded carousel-item">
            <div class="bg-gray-400 w-full text-center text-xl rounded">
              <p>Libre elección - Cod: 4200742 - 4 Créditos</p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-10 mt-8">
              <div class="carousel-card">
                <h2>Introducción</h2>
                <p>
                  Las expectativas de empleo del siglo XX tienden a desaparecer
                  en la actualidad y la construcción de sentido de un horizonte
                  laboral reposa sobre potenciales de innovación y
                  emprendimiento. Este curso teórico-práctico tiende un puente
                  entre la academia y el medio externo. Se busca brindar a los
                  estudiantes bases conceptuales y herramientas prácticas para
                  resolver dudas acerca de innovación y emprendimiento, en un
                  entorno interdisciplinar.
                </p>
              </div>
              <div class="carousel-card">
                <h2>Objetivos</h2>
                <p>
                  Brindar al estudiante bases conceptuales y herramientas
                  prácticas para entender y llevar a cabo procesos de innovación
                  y/o emprendimiento, contextualizados en sus conocimientos
                  académicos, habilidades blandas, intereses colectivos y
                  personales, en consonancia con necesidades reales del entorno.
                  Reconocer el entorno social, ciudadano y organizacional, desde
                  las necesidades y capacidades del mismo, incluyendo en ello
                  los ecosistemas de innovación y de emprendimiento a nivel
                  local, regional, nacional e internacional. Apropiar innovación
                  y emprendimiento por medio de un proyecto práctico, en equipos
                  de trabajo interdisciplinares.
                </p>
              </div>
              <div class="carousel-card">
                <h2>Contenido</h2>
                <ol class="" style="list-style-type: disc">
                  <li>
                    Introducción a la asignatura: Conformación de equipos.
                  </li>
                  <li>Introducción al emprendimiento y la innovación.</li>
                  <li>
                    Descubrimiento y alcance de la oportunidad: Indentificación
                    del problema.
                  </li>
                  <li>
                    Ideación para prototipado: Perfil de cliente y elementos
                    para el desarrollo de la solución. Validación de Ideas.
                  </li>
                  <li>
                    Desarrollo de la propuesta: Autoconocimiento, prototipado,
                    estructura de costo inicial de la solución, exposición
                    entrega final.
                  </li>
                </ol>
              </div>
            </div>
          </div>
          <div class="mx-auto">
            <h5 class="text-center text-3xl text-black">
              Presentación Cátedra NOVUS
            </h5>
            <div class="flex justify-center mx-auto mt-2 mb-5">
              <div class="aspect-widescreen">
                <iframe
                  class="md:w-[500px] md:h-[280px]"
                  src="https://www.youtube.com/embed/U_87RtRoeUY"
                  title="Asignaturas Interdisciplinares: Cátedra NOVUS"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </ul>
      </li>
      <!-- T2 -->
      <li>
        <a href="#"
          ><i class="icono izquierda fa fa-star"></i>
          Tipología 2: Curso Empresa FIA (Facultad de Ingeniería y Arquitectura)
          <i class="icono derecha fa fa-chevron-down"></i></a
        >
        <ul>
          <!-- asignatura fia i -->
          <div class="bg-white mx-auto my-8 p-4 rounded carousel-item">
            <div
              class="bg-gray-400 w-full text-center text-xl rounded mb-1 text-black"
            >
              <p>Curso Empresa FIA I: Cátedra Ternium</p>
            </div>
            <div class="bg-gray-400 w-full text-center text-xl rounded">
              <p>Libre elección - Cod: ### - # Créditos</p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-10 mt-8">
              <div class="carousel-card">
                <h2>Introducción</h2>
                <p></p>
              </div>
              <div class="carousel-card">
                <h2>Objetivos</h2>
                <p></p>
              </div>
              <div class="carousel-card">
                <h2>Contenido</h2>
                <ol class="" style="list-style-type: disc">
                  <li></li>
                </ol>
              </div>
            </div>
          </div>
          <!-- asignatura fia ii -->
          <div class="bg-white mx-auto my-8 p-4 rounded carousel-item">
            <div
              class="bg-gray-400 w-full text-center text-xl rounded mb-1 text-black"
            >
              <p>Curso Empresa FIA II: Sistema Construcción en Seco</p>
            </div>
            <div class="bg-gray-400 w-full text-center text-xl rounded">
              <p>Libre elección - Cod: 4200759 - 1 Crédito</p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-10 mt-8">
              <div class="carousel-card">
                <h2>Introducción</h2>
                <p>
                  Asignando un proyecto para desarrollar una vivienda VIS, se
                  investiga cuáles son las características propias de la región,
                  se recrea el punto de vista del constructor y se desarrolla el
                  proyecto en materiales tradicionales y en construcción en
                  seco.
                </p>
              </div>
              <div class="carousel-card">
                <h2>Objetivos</h2>
                <ol class="" style="list-style-type: disc">
                  <li>
                    Introducir desde el pregrado, nuevos conocimientos para
                    desarrollar construcciones modernas, que permitan afrontar
                    desafíos como un aliado de la genialidad del arquitecto.
                  </li>
                  <li>
                    Conocer la construcción en seco desde sus inicios e
                    identificar sus ventajas.
                  </li>
                  <li>
                    Identificar diferentes materiales y sus diferentes
                    aplicaciones.
                  </li>
                  <li>
                    Desarrollar un caso, el cual represente un desafío y lo
                    lleva a identificar las diferencias alternativas
                    constructivas.
                  </li>
                </ol>
              </div>
              <div class="carousel-card">
                <h2>Contenido</h2>
                <ol class="" style="list-style-type: disc">
                  <li>Evolución del sistema, propiedades y ventajas.</li>
                  <li>Apliciones de sistema constructivo en Seco.</li>
                  <li>Placas de fibrocemento y de yeso.</li>
                  <li>
                    Estructura metálica: Generalidades y componentes
                    constructivos.
                  </li>
                  <li>Diseño y planificación de la estructura.</li>
                  <li>Steel framing y Cielos Rasos.</li>
                  <li>Muros interiores y exteriores.</li>
                  <li>Entrepisos y Comportamiento acústico.</li>
                  <li>Resistencia a la humedad y al fuego.</li>
                  <li>Presupuestos y planificación.</li>
                  <li>Materiales de acabado.</li>
                  <li>
                    Patologías: Ambientales, Biológicas, Químicas, Físicas y
                    Mecánicas.
                  </li>
                  <li>
                    Sismo Resistencia y Experiencia constructor del sistema
                    seco.
                  </li>
                </ol>
              </div>
            </div>
          </div>
          <!-- asignatura fia iii -->
          <div class="bg-white mx-auto my-8 p-4 rounded carousel-item">
            <div
              class="bg-gray-400 w-full text-center text-xl rounded mb-1 text-black"
            >
              <p>
                Curso empresa FIA III: Tecnologías modernas aplicadas a los
                sistemas constructivos (Sika)
              </p>
            </div>
            <div class="bg-gray-400 w-full text-center text-xl rounded">
              <p>Libre elección - Cod: 4200760 - 1 Crédito</p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-10 mt-8">
              <div class="carousel-card">
                <h2>Introducción</h2>
                <p></p>
              </div>
              <div class="carousel-card">
                <h2>Objetivos</h2>
                <p></p>
              </div>
              <div class="carousel-card">
                <h2>Contenido</h2>
                <ol class="" style="list-style-type: disc">
                  <li></li>
                </ol>
              </div>
            </div>
          </div>
          <!-- asignatura fia iv -->
          <div class="bg-white mx-auto my-8 p-4 rounded carousel-item">
            <div
              class="bg-gray-400 w-full text-center text-xl rounded mb-1 text-black"
            >
              <p>
                Curso empresa FIA IV: Sistemas para la construcción (Corona)
              </p>
            </div>
            <div class="bg-gray-400 w-full text-center text-xl rounded">
              <p>Libre elección - Cod: 4200761 - 1 Crédito</p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-10 mt-8">
              <div class="carousel-card">
                <h2>Introducción</h2>
                <p>
                  Se busca llevar la industria a la academia y la academia a la
                  industria, brindando conocimiento a sus estudiantes desde los
                  diferentes sistemas constructivos y las experiencias
                  adquiridas a lo largo de más de 100 años de trayectoria. Esta
                  empresa colombiana se apalanca en 3 pilares fundamentales:
                  ambiental, financiero y social.
                </p>
              </div>
              <div class="carousel-card">
                <h2>Objetivos</h2>
                <ol style="list-style-type: disc">
                  <li>Fortalecer la relación Universidad - Empresa.</li>
                  <li>
                    Acercar a los estudiantes de la Sede Manizales al contexto
                    real, a través de los conocimientos suministrados en
                    sistemas para la construcción y de casos de aplicación y/o
                    visitas a nuestras plantas de producción.
                  </li>
                  <li>
                    Mediante módulos teórico-prácticos brindar a los
                    participantes los conocimientos adquiridos por la industria
                    sobre los sistemas para la construcción con los que contamos
                    en la compañía.
                  </li>
                </ol>
              </div>
              <div class="carousel-card">
                <h2>Contenido</h2>
                <ol class="" style="list-style-type: disc">
                  <li>Gerencia y/o planeación en la obra.</li>
                  <li>Informe de sostenibilidad.</li>
                  <li>Gestión financiera, social y ambiental.</li>
                  <li>Revestimientos fabricación y normalización.</li>
                  <li>Adhesivos y boquillas - Normalización.</li>
                  <li>Alion - Cementos Molins Morteros.</li>
                  <li>Tipos y aplicaciones de estucos y pinturas.</li>
                  <li>Sanitarios.</li>
                  <li>Griferías: Fabricación y materiales.</li>
                  <li>Áreas a impermeabilizar, manual de buenas prácticas.</li>
                </ol>
              </div>
            </div>
            <div class="flex justify-center mx-auto mt-2 mb-5">
              <div class="aspect-widescreen">
                <iframe
                  class="md:w-[500px] md:h-[280px]"
                  src="https://www.youtube.com/embed/d5-q2P4NVjk?rel=0"
                  title="Asignaturas Interdisciplinares: Curso Empresa FIA IV - Corona"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
            </div>
          </div>
          <!-- asignatura fia v -->
          <div class="bg-white mx-auto my-8 p-4 rounded carousel-item">
            <div
              class="bg-gray-400 w-full text-center text-xl rounded mb-1 text-black"
            >
              <p>
                Curso empresa FIA V: Sostenibilidad y cambio climático (Grupo
                Argos)
              </p>
            </div>
            <div class="bg-gray-400 w-full text-center text-xl rounded">
              <p>Libre elección - Cod: 4200762 - 1 Crédito</p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-10 mt-8">
              <div class="carousel-card">
                <h2>Introducción</h2>
                <p>
                  Considera la evolución de la visión de sostenibilidad en el
                  mundo. De paradigmas de filantropía a esquemas de
                  responsabilidad social, pasando por modelos de valor
                  compartido hasta la generación de valor integral en la
                  actualidad bajo corrientes de pensamiento como el capitalismo
                  consciente, que se vale de la evaluación de criterios
                  ambientales, sociales y de gobierno corporativo para
                  profundizar en la transformación positiva de la sociedad.
                </p>
              </div>
              <div class="carousel-card">
                <h2>Objetivos</h2>
                <ol style="list-style-type: disc">
                  <li>
                    Fortalecer la consciencia sobre la necesidad de la gestión
                    de los asuntos ambientales, sociales y de gobierno
                    corporativo (ASG) para la construcción de empresas que
                    generen valor integral a todos sus grupos de interés como
                    aporte al desarrollo del país.
                  </li>
                  <li>
                    Comprender conceptos de asuntos ambientales, sociales y de
                    gobierno; gestión en sostenibilidad, capitalismo consciente,
                    cambio climático y gestion de su riesgo y oportunidades.
                  </li>
                </ol>
              </div>
              <div class="carousel-card">
                <h2>Contenido</h2>
                <ol class="" style="list-style-type: disc">
                  <li>Introducción a la sostenibilidad (ASG).</li>
                  <li>Panorama global en materia de sostenibilidad.</li>
                  <li>Estándares y marcos de reporte.</li>
                  <li>Riesgos ASG.</li>
                  <li>Financiación sostenible.</li>
                  <li>Economía circular y manejo de residuos.</li>
                </ol>
              </div>
            </div>
          </div>
        </ul>
      </li>
      <!-- T3 -->
      <li>
        <a href="#"
          ><i class="icono izquierda fa fa-star"></i>
          Tipología 3: Taller Interdisciplinar I y II
          <i class="icono derecha fa fa-chevron-down"></i></a
        >
        <ul>
          <!-- taller i -->
          <div class="bg-white mx-auto my-8 p-4 rounded carousel-item">
            <div
              class="bg-gray-400 w-full text-center text-xl rounded mb-1 text-black"
            >
              <p>Taller Interdisciplinar I</p>
            </div>
            <div class="bg-gray-400 w-full text-center text-xl rounded">
              <p>Libre elección - Cod: 4200813 - 4 Créditos</p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-10 mt-8">
              <div class="carousel-card">
                <h2>Introducción</h2>
                <p>
                  Este taller, propuesto para desarrollarse en cohortes de un
                  año, está dirigido a estudiantes de último ciclo de sus
                  carreras. Se presenta como asignatura electiva. Se plantea el
                  reto del diseño integral basado en problemas propios de
                  sociedades contemporáneas en el contexto local, regional y
                  nacional. Se plantea una metodología que revele al estudiante
                  de pregrado su propio acto de creación y vía de investigación.
                </p>
              </div>
              <div class="carousel-card">
                <h2>Objetivos</h2>
                <p>
                  Promover en el estudiante valores y habilidades para el
                  trabajo colaborativo, interdisciplinar, mediante la
                  formulación de un proyecto integrador de impacto positivo en
                  comunidades, a escala local, regional o nacional, formando
                  profesionales con capacidad de transformación de país.
                  Reconocer al otro diferente desde lo disciplinar y
                  extradisciplinar. Fomentar el pensamiento analítico, pero a la
                  vez el pensamiento sistémico, complejo, creativo y lateral.
                </p>
              </div>
              <div class="carousel-card">
                <h2>Contenido</h2>
                <ol class="" style="list-style-type: disc">
                  <li>
                    Formulación de un proyecto: Ideación, proyectación y
                    materialización o ejecución
                  </li>
                  <li>Contextualización de las problemáticas.</li>
                  <li>Resiliencia al cambio climático.</li>
                  <li>Emprendimiento.</li>
                  <li>Métodos de análisis de problemas.</li>
                  <li>Búsqueda en las bases de datos institucionales.</li>
                  <li>
                    Tips para una buena presentación oral - Profesional UNALEE.
                  </li>
                </ol>
              </div>
            </div>
          </div>
          <!-- taller ii -->
          <div class="bg-white mx-auto my-8 p-4 rounded carousel-item">
            <div
              class="bg-gray-400 w-full text-center text-xl rounded mb-1 text-black"
            >
              <p>Taller Interdisciplinar II</p>
            </div>
            <div class="bg-gray-400 w-full text-center text-xl rounded">
              <p>Libre elección - Cod: 4200836 - 6 Créditos</p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-10 mt-8">
              <div class="carousel-card">
                <h2>Introducción</h2>
                <p>
                  Este Taller, propuesto para desarrollarse en cohortes de un
                  año, está dirigido a estudiantes de último ciclo de sus
                  carreras y como opción de Trabajo de Grado. Se presenta como
                  asignatura electiva. Se plantea el reto del diseño integral
                  basado en problemas propios de sociedades contemporáneas en el
                  contexto local, regional y nacional. Se plantea una
                  metodología que revele al estudiante de pregrado su propio
                  acto de creación y vía de investigación.
                </p>
              </div>
              <div class="carousel-card">
                <h2>Objetivos</h2>
                <p>
                  Promover en el estudiante valores y habilidades para el
                  trabajo colaborativo, interdisciplinar, mediante la
                  formulación de un proyecto integrador de impacto positivo en
                  comunidades, a escala local, regional o nacional, formando
                  profesionales con capacidad de transformación de país.
                  Reconocer al otro diferente desde lo disciplinar y
                  extradisciplinar. Fomentar el pensamiento analítico, pero a la
                  vez el pensamiento sistémico, complejo, creativo y lateral.
                </p>
              </div>
              <div class="carousel-card">
                <h2>Contenido</h2>
                <ol class="" style="list-style-type: disc">
                  <li>
                    Formulación de un proyecto: Ideación, proyectación y
                    materialización o ejecución
                  </li>
                  <li>Contextualización de las problemáticas.</li>
                  <li>Resiliencia al cambio climático.</li>
                  <li>Emprendimiento.</li>
                  <li>Métodos de análisis de problemas.</li>
                  <li>Búsqueda en las bases de datos institucionales.</li>
                  <li>
                    Tips para una buena presentación oral - Profesional UNALEE.
                  </li>
                </ol>
              </div>
            </div>
          </div>
          <div class="flex justify-center mx-auto mt-2 mb-5">
            <div class="aspect-widescreen">
              <iframe
                class="md:w-[500px] md:h-[280px]"
                src="https://www.youtube.com/embed/CFJAQUglbxo"
                title="Asignaturas Interdisciplinares: Taller Interdisciplinar"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
        </ul>
      </li>
      <!-- T4 -->
      <li>
        <a href="#"
          ><i class="icono izquierda fa fa-star"></i>
          Tipología 4: Curso Abierto
          <i class="icono derecha fa fa-chevron-down"></i></a
        >
        <ul>
          <!-- Corona -->
          <div class="bg-white mx-auto my-8 p-4 rounded carousel-item">
            <div
              class="bg-gray-400 w-full text-center text-xl rounded mb-1 text-black"
            >
              <p>Corona</p>
            </div>
            <div class="bg-gray-400 w-full text-center text-xl rounded">
              <p>Libre elección - Cod: ### - # Créditos</p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-10 mt-8">
              <div class="carousel-card">
                <h2>Introducción</h2>
                <p></p>
              </div>
              <div class="carousel-card">
                <h2>Objetivos</h2>
                <p></p>
              </div>
              <div class="carousel-card">
                <h2>Contenido</h2>
                <ol class="" style="list-style-type: disc">
                  <li></li>
                </ol>
              </div>
            </div>
          </div>
          <!-- Duratex -->
          <div class="bg-white mx-auto my-8 p-4 rounded carousel-item">
            <div
              class="bg-gray-400 w-full text-center text-xl rounded mb-1 text-black"
            >
              <p>Duratex</p>
            </div>
            <div class="bg-gray-400 w-full text-center text-xl rounded">
              <p>Libre elección - Cod: ### - # Créditos</p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-10 mt-8">
              <div class="carousel-card">
                <h2>Introducción</h2>
                <p></p>
              </div>
              <div class="carousel-card">
                <h2>Objetivos</h2>
                <p></p>
              </div>
              <div class="carousel-card">
                <h2>Contenido</h2>
                <ol class="" style="list-style-type: disc">
                  <li></li>
                </ol>
              </div>
            </div>
          </div>
        </ul>
      </li>
    </ul>
  </div>
</div>

<style>
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .presentation {
    color: black;
    font-size: large;
    line-height: normal;
  }
  .presentation p {
    margin: 1rem 2rem;
  }
  a {
    text-decoration: none;
    color: #fff;
    font-size: large;
  }
  .btn-menu {
    display: none;
    padding: 20px;
    background: #0d2c44;
    color: #fff;
  }
  .btn-menu .icono {
    float: right;
  }
  .contenedor-menu {
    display: inline-block;
    line-height: 18px;
  }
  .contenedor-menu .menu {
    width: 100%;
  }
  .contenedor-menu ul {
    list-style: none;
  }
  .contenedor-menu .menu li a {
    color: #6c6c6c;
    display: block;
    padding: 15px 20px;
    background: #c2c2c2;
  }
  .contenedor-menu .menu li a:hover {
    background: #586064;
    color: #fff;
  }
  .contenedor-menu .menu .icono {
    font-size: 12px;
    line-height: 18px;
  }
  .contenedor-menu .menu .icono.izquierda {
    float: left;
    margin-right: 10px;
  }
  .contenedor-menu .menu .icono.derecha {
    float: right;
    margin-left: 10px;
  }
  .contenedor-menu .menu ul {
    display: none;
  }
  .contenedor-menu .menu ul li a {
    background: #424242;
    color: #e9e9e9;
  }
  .contenedor-menu .menu .activado > a {
    background: #586064;
    color: #fff;
  }

  @media screen and (max-width: 450px) {
    .contenedor-menu {
      margin: 0;
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 1000;
    }
    .btn-menu {
      display: block;
    }
    .contenedor-menu .menu {
      display: none;
    }
  }

  .carousel-item {
    margin: 1rem;
  }
  .carousel-card {
    background-color: aliceblue;
    border-radius: 0.5rem;
    padding: 1.5rem;
    font-size: medium;
    margin: 1rem 0;
    color: black;
  }
  .carousel-card h2 {
    margin-bottom: 1rem;
    font-size: x-large;
  }
  .carousel-video {
    /* margin: 1rem auto; */
  }
  .carousel-video h2 {
    font-size: large;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuItemsWithSubmenu =
      document.querySelectorAll<HTMLElement>(".menu li:has(ul)");
    const menuButton = document.querySelector<HTMLElement>(".btn-menu");
    const menuContainer = document.querySelector<HTMLElement>(
      ".contenedor-menu .menu"
    );

    menuItemsWithSubmenu.forEach((item) => {
      item.addEventListener("click", (e) => {
        e.preventDefault();

        if (item.classList.contains("activado")) {
          item.classList.remove("activado");
          const submenu = item.children[1] as HTMLElement | undefined;
          if (submenu) {
            submenu.style.display = "none";
          }
        } else {
          closeAllSubmenus();
          item.classList.add("activado");
          const submenu = item.children[1] as HTMLElement | undefined;
          if (submenu) {
            submenu.style.display = "block";
          }
        }
      });
    });

    menuButton?.addEventListener("click", () => {
      if (menuContainer)
        menuContainer.style.display =
          menuContainer.style.display === "none" ||
          menuContainer.style.display === ""
            ? "block"
            : "none";
    });

    window.addEventListener("resize", () => {
      if (menuContainer)
        if (document.documentElement.clientWidth > 450) {
          menuContainer.style.display = "block";
        } else {
          menuContainer.style.display = "none";
          closeAllSubmenus();
        }
    });

    const submenuLinks =
      document.querySelectorAll<HTMLElement>(".menu li ul li a");
    submenuLinks.forEach((link) => {
      link.addEventListener("click", () => {
        window.location.href = link.getAttribute("href") || "";
      });
    });

    function closeAllSubmenus() {
      menuItemsWithSubmenu.forEach((item) => {
        item.classList.remove("activado");
        const submenu = item.children[1] as HTMLElement | undefined;
        if (submenu) {
          submenu.style.display = "none";
        }
      });
    }
  });
  document.addEventListener("DOMContentLoaded", () => {
    const firstMenuItem = document.querySelector(".menu li.activado");
    const firstSubmenu = firstMenuItem.querySelector("ul");

    firstSubmenu.style.display = "block";
  });
</script>
