<div class="min-h-[60vh]">
  <div class="contenedor-menu bg-white rounded ">
    <a href="#" class="btn-menu">Menu<i class="icono fa fa-bars"></i></a>
  
    <ul class="menu">
      <!-- 1 -->
      <li>
        <a href="#"><i class="icono izquierda fa fa-star"></i>
          Tipología 1: Cátedra Novus. Innovación y Emprendimiento: De la creatividad a la acción
          <i class="icono derecha fa fa-chevron-down"></i></a>
        <ul>
          <div class="bg-white mx-auto my-8 p-4 rounded carousel-item">
            <div class="bg-gray-300 w-full text-center text-xl rounded">
              <p>Libre elección - Cod: 4200742 - 4 Créditos</p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-10 mt-8">
              <div class="carousel-card">
                <h2>Introducción</h2>
                <p>
                  Las expectativas de empleo del siglo XX tienden a desaparecer en
                  la actualidad y la construcción de sentido de un horizonte
                  laboral reposa sobre potenciales de innovación y emprendimiento.
                  Este curso teórico-práctico tiende un puente entre la academia y
                  el medio externo. Se busca brindar a los estudiantes bases
                  conceptuales y herramientas prácticas para resolver dudas acerca
                  de innovación y emprendimiento, en un entorno interdisciplinar.
                </p>
              </div>
              <div class="carousel-card">
                <h2>Objetivos</h2>
                <p>
                  Brindar al estudiante bases conceptuales y herramientas
                  prácticas para entender y llevar a cabo procesos de innovación
                  y/o emprendimiento, contextualizados en sus conocimientos
                  académicos, habilidades blandas, intereses colectivos y
                  personales, en consonancia con necesidades reales del entorno.
                  Reconocer el entorno social, ciudadano y organizacional, desde
                  las necesidades y capacidades del mismo, incluyendo en ello los
                  ecosistemas de innovación y de emprendimiento a nivel local,
                  regional, nacional e internacional. Apropiar innovación y
                  emprendimiento por medio de un proyecto práctico, en equipos de
                  trabajo interdisciplinares.
                </p>
              </div>
              <div class="carousel-card">
                <h2>Contenido</h2>
                <ol class="" style="list-style-type: disc">
                  <li>Introducción a la asignatura: Conformación de equipos.</li>
                  <li>Introducción al emprendimiento y la innovación.</li>
                  <li>
                    Descubrimiento y alcance de la oportunidad: Indentificación
                    del problema.
                  </li>
                  <li>
                    Ideación para prototipado: Perfil de cliente y elementos para
                    el desarrollo de la solución. Validación de Ideas.
                  </li>
                  <li>
                    Desarrollo de la propuesta: Autoconocimiento, prototipado,
                    estructura de costo inicial de la solución, exposición entrega
                    final.
                  </li>
                </ol>
              </div>
            </div>
          </div>

          <div class="carousel-video">
            <h2 class="">Presentación Cátedra NOVUS</h2>
            <div class="embed-responsive embed-responsive-16by9 max-w-[600px] mx-auto mt-2 mb-5">
              <iframe src="https://www.youtube.com/embed/U_87RtRoeUY"
                title="Asignaturas Interdisciplinares: Cátedra NOVUS"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
              </iframe>
            </div>
  
          </div>
        </ul>
      </li>
      <!-- 2 -->
      <li>
        <a href="#"><i class="icono izquierda fa fa-star"></i>
          Tipología 2: Curso Empresa FIA (Facultad de Ingeniería y Arquitectura)
          <i class="icono derecha fa fa-chevron-down"></i></a>
        <ul>
          <div class="bg-white mx-auto my-8 p-4 rounded carousel-item">
            <div class="bg-gray-300 w-full text-center text-xl rounded">
              <p>Libre elección - Cod: 4200742 - 4 Créditos</p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-10 mt-8">
              <div class="carousel-card">
                <h2>Introducción</h2>
                <p>
                  Las expectativas de empleo del siglo XX tienden a desaparecer en
                  la actualidad y la construcción de sentido de un horizonte
                  laboral reposa sobre potenciales de innovación y emprendimiento.
                  Este curso teórico-práctico tiende un puente entre la academia y
                  el medio externo. Se busca brindar a los estudiantes bases
                  conceptuales y herramientas prácticas para resolver dudas acerca
                  de innovación y emprendimiento, en un entorno interdisciplinar.
                </p>
              </div>
              <div class="carousel-card">
                <h2>Objetivos</h2>
                <p>
                  Brindar al estudiante bases conceptuales y herramientas
                  prácticas para entender y llevar a cabo procesos de innovación
                  y/o emprendimiento, contextualizados en sus conocimientos
                  académicos, habilidades blandas, intereses colectivos y
                  personales, en consonancia con necesidades reales del entorno.
                  Reconocer el entorno social, ciudadano y organizacional, desde
                  las necesidades y capacidades del mismo, incluyendo en ello los
                  ecosistemas de innovación y de emprendimiento a nivel local,
                  regional, nacional e internacional. Apropiar innovación y
                  emprendimiento por medio de un proyecto práctico, en equipos de
                  trabajo interdisciplinares.
                </p>
              </div>
              <div class="carousel-card">
                <h2>Contenido</h2>
                <ol class="" style="list-style-type: disc">
                  <li>Introducción a la asignatura: Conformación de equipos.</li>
                  <li>Introducción al emprendimiento y la innovación.</li>
                  <li>
                    Descubrimiento y alcance de la oportunidad: Indentificación
                    del problema.
                  </li>
                  <li>
                    Ideación para prototipado: Perfil de cliente y elementos para
                    el desarrollo de la solución. Validación de Ideas.
                  </li>
                  <li>
                    Desarrollo de la propuesta: Autoconocimiento, prototipado,
                    estructura de costo inicial de la solución, exposición entrega
                    final.
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </ul>
      </li>
      <!-- 3 -->
      <li>
        <a href="#"><i class="icono izquierda fa fa-star"></i>
          Tipología 3: Taller Interdisciplinar I y II
          <i class="icono derecha fa fa-chevron-down"></i></a>
        <ul>
          <div class="bg-white mx-auto my-8 p-4 rounded carousel-item">
            <div class="bg-gray-300 w-full text-center text-xl rounded">
              <p>Libre elección - Cod: 4200742 - 4 Créditos</p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-10 mt-8">
              <div class="carousel-card">
                <h2>Introducción</h2>
                <p>
                  Las expectativas de empleo del siglo XX tienden a desaparecer en
                  la actualidad y la construcción de sentido de un horizonte
                  laboral reposa sobre potenciales de innovación y emprendimiento.
                  Este curso teórico-práctico tiende un puente entre la academia y
                  el medio externo. Se busca brindar a los estudiantes bases
                  conceptuales y herramientas prácticas para resolver dudas acerca
                  de innovación y emprendimiento, en un entorno interdisciplinar.
                </p>
              </div>
              <div class="carousel-card">
                <h2>Objetivos</h2>
                <p>
                  Brindar al estudiante bases conceptuales y herramientas
                  prácticas para entender y llevar a cabo procesos de innovación
                  y/o emprendimiento, contextualizados en sus conocimientos
                  académicos, habilidades blandas, intereses colectivos y
                  personales, en consonancia con necesidades reales del entorno.
                  Reconocer el entorno social, ciudadano y organizacional, desde
                  las necesidades y capacidades del mismo, incluyendo en ello los
                  ecosistemas de innovación y de emprendimiento a nivel local,
                  regional, nacional e internacional. Apropiar innovación y
                  emprendimiento por medio de un proyecto práctico, en equipos de
                  trabajo interdisciplinares.
                </p>
              </div>
              <div class="carousel-card">
                <h2>Contenido</h2>
                <ol class="" style="list-style-type: disc">
                  <li>Introducción a la asignatura: Conformación de equipos.</li>
                  <li>Introducción al emprendimiento y la innovación.</li>
                  <li>
                    Descubrimiento y alcance de la oportunidad: Indentificación
                    del problema.
                  </li>
                  <li>
                    Ideación para prototipado: Perfil de cliente y elementos para
                    el desarrollo de la solución. Validación de Ideas.
                  </li>
                  <li>
                    Desarrollo de la propuesta: Autoconocimiento, prototipado,
                    estructura de costo inicial de la solución, exposición entrega
                    final.
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </ul>
      </li>
      <!-- 4 -->
      <li>
        <a href="#"><i class="icono izquierda fa fa-star"></i>
          Tipología 4: Curso Abierto
          <i class="icono derecha fa fa-chevron-down"></i></a>
        <ul>
          <div class="bg-white mx-auto my-8 p-4 rounded carousel-item">
            <div class="bg-gray-300 w-full text-center text-xl rounded">
              <p>Libre elección - Cod: 4200742 - 4 Créditos</p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-10 mt-8">
              <div class="carousel-card">
                <h2>Introducción</h2>
                <p>
                  Las expectativas de empleo del siglo XX tienden a desaparecer en
                  la actualidad y la construcción de sentido de un horizonte
                  laboral reposa sobre potenciales de innovación y emprendimiento.
                  Este curso teórico-práctico tiende un puente entre la academia y
                  el medio externo. Se busca brindar a los estudiantes bases
                  conceptuales y herramientas prácticas para resolver dudas acerca
                  de innovación y emprendimiento, en un entorno interdisciplinar.
                </p>
              </div>
              <div class="carousel-card">
                <h2>Objetivos</h2>
                <p>
                  Brindar al estudiante bases conceptuales y herramientas
                  prácticas para entender y llevar a cabo procesos de innovación
                  y/o emprendimiento, contextualizados en sus conocimientos
                  académicos, habilidades blandas, intereses colectivos y
                  personales, en consonancia con necesidades reales del entorno.
                  Reconocer el entorno social, ciudadano y organizacional, desde
                  las necesidades y capacidades del mismo, incluyendo en ello los
                  ecosistemas de innovación y de emprendimiento a nivel local,
                  regional, nacional e internacional. Apropiar innovación y
                  emprendimiento por medio de un proyecto práctico, en equipos de
                  trabajo interdisciplinares.
                </p>
              </div>
              <div class="carousel-card">
                <h2>Contenido</h2>
                <ol class="" style="list-style-type: disc">
                  <li>Introducción a la asignatura: Conformación de equipos.</li>
                  <li>Introducción al emprendimiento y la innovación.</li>
                  <li>
                    Descubrimiento y alcance de la oportunidad: Indentificación
                    del problema.
                  </li>
                  <li>
                    Ideación para prototipado: Perfil de cliente y elementos para
                    el desarrollo de la solución. Validación de Ideas.
                  </li>
                  <li>
                    Desarrollo de la propuesta: Autoconocimiento, prototipado,
                    estructura de costo inicial de la solución, exposición entrega
                    final.
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </ul>
      </li>
  
      
    </ul>
  </div>
</div>

<style>
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    color: #fff;
    font-size: large;
  }

  .btn-menu {
    display: none;
    padding: 20px;
    background: #0d2c44;
    color: #fff;
  }

  .btn-menu .icono {
    float: right;
  }

  .contenedor-menu {
    display: inline-block;
    margin: 2rem;
    line-height: 18px;
  }

  .contenedor-menu .menu {
    width: 100%;
  }

  .contenedor-menu ul {
    list-style: none;
  }

  .contenedor-menu .menu li a {
    color: #6c6c6c;
    display: block;
    padding: 15px 20px;
    background: #c2c2c2;
  }

  .contenedor-menu .menu li a:hover {
    background: #1a95d5;
    color: #fff;
  }

  .contenedor-menu .menu .icono {
    font-size: 12px;
    line-height: 18px;
  }

  .contenedor-menu .menu .icono.izquierda {
    float: left;
    margin-right: 10px;
  }

  .contenedor-menu .menu .icono.derecha {
    float: right;
    margin-left: 10px;
  }

  .contenedor-menu .menu ul {
    display: none;
  }

  .contenedor-menu .menu ul li a {
    background: #424242;
    color: #e9e9e9;
  }

  .contenedor-menu .menu .activado > a {
    background: #1a95d5;
    color: #fff;
  }

  @media screen and (max-width: 450px) {
    .contenedor-menu {
      margin: 0;
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 1000;
    }

    .btn-menu {
      display: block;
    }

    .contenedor-menu .menu {
      display: none;
    }
  }

  .carousel-item{
    margin: 1rem;
  }

  .carousel-card {
    background-color: aliceblue;
    border-radius: 0.5rem;
    padding: 1.5rem ;
    font-size: medium;
    margin: 1rem 0;
  }
  .carousel-card h2 {
    margin-bottom: 1rem;
    font-size: x-large;
  }

  .carousel-video{
    /* margin: 1rem auto; */
  }
  .carousel-video h2{
    font-size: large;
  }

</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuItemsWithSubmenu =
      document.querySelectorAll<HTMLElement>(".menu li:has(ul)");
    const menuButton = document.querySelector<HTMLElement>(".btn-menu");
    const menuContainer = document.querySelector<HTMLElement>(
      ".contenedor-menu .menu"
    );

    menuItemsWithSubmenu.forEach((item) => {
      item.addEventListener("click", (e) => {
        e.preventDefault();

        if (item.classList.contains("activado")) {
          item.classList.remove("activado");
          const submenu = item.children[1] as HTMLElement | undefined; // ul
          if (submenu) {
            submenu.style.display = "none";
          }
        } else {
          closeAllSubmenus();
          item.classList.add("activado");
          const submenu = item.children[1] as HTMLElement | undefined; // ul
          if (submenu) {
            submenu.style.display = "block";
          }
        }
      });
    });

    menuButton?.addEventListener("click", () => {
      if (menuContainer)
        menuContainer.style.display =
          menuContainer.style.display === "none" ||
          menuContainer.style.display === ""
            ? "block"
            : "none";
    });

    window.addEventListener("resize", () => {
      if (menuContainer)
        if (document.documentElement.clientWidth > 450) {
          menuContainer.style.display = "block";
        } else {
          menuContainer.style.display = "none";
          closeAllSubmenus();
        }
    });

    const submenuLinks =
      document.querySelectorAll<HTMLElement>(".menu li ul li a");
    submenuLinks.forEach((link) => {
      link.addEventListener("click", () => {
        window.location.href = link.getAttribute("href") || "";
      });
    });

    function closeAllSubmenus() {
      menuItemsWithSubmenu.forEach((item) => {
        item.classList.remove("activado");
        const submenu = item.children[1] as HTMLElement | undefined; // ul
        if (submenu) {
          submenu.style.display = "none";
        }
      });
    }
  });
</script>
