---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.5, user-scalable=yes"
    />
    <link rel="icon" type="image/svg+xml" href="images/favicon.ico" />
    <title>{title}</title>
    <!-- <title>
			Inicio: Instituto Nacional De Investigación, Innovación Y Política
			Educativa
		</title> -->
    <meta
      name="author"
      content="Instituto Nacional De Investigación, Innovación Y Política Educativa"
    />
    <meta
      name="keywords"
      content="Instituto Nacional De Investigación, Innovación Y Política Educativa"
    />
    <meta
      name="description"
      content="Instituto Nacional De Investigación, Innovación Y Política Educativa"
    />

    <meta name="revisit-after" content="1 hour" />
    <meta name="distribution" content="all" />
    <meta name="expires" content="1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="all" />

    <script is:inline src="js/jquery.js" type="text/javascript"></script>
    <script src="js/unal.js" type="text/javascript"></script>
    <script src="js/accesibilidad.js" type="text/javascript"></script>

    <!-- <link rel="preload" href="/img-urdimbre/urdimbre-green.webp" as="image"> -->
    <link rel="preload" href="/img-urdimbre/franja-v.png" as="image">

    <link
      rel="stylesheet"
      type="text/css"
      href="css/bootstrap.min.css"
      media="all"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="css/bootstrap-theme.min.css"
      media="all"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="css/accesibilidad.css"
      media="all"
    />
    <link rel="stylesheet" type="text/css" href="css/reset.css" media="all" />
    <link rel="stylesheet" type="text/css" href="css/unal.css" media="all" />
    <link rel="stylesheet" type="text/css" href="css/base.css" media="all" />
    <link rel="stylesheet" type="text/css" href="css/tablet.css" media="all" />
    <link rel="stylesheet" type="text/css" href="css/phone.css" media="all" />
    <link rel="stylesheet" type="text/css" href="css/small.css" media="all" />
    <link
      rel="stylesheet"
      type="text/css"
      href="css/printer.css"
      media="print"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />


  </head>

  <body>
    <slot />

    <style is:global>
      /* ... (estilos globales) */
    
      /* Estilos para el ícono flotante */
      #floating-icon {
        position: fixed;
        bottom: 20px; /* Ajusta la distancia desde abajo */
        right: 20px; /* Ajusta la distancia desde la derecha */
        z-index: 9999;
        width: 120px; /* Ajusta el tamaño del icono */
        height: 120px;
        border-radius: 50%; /* Para hacer el ícono redondo */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra alrededor del icono */
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff71; /* Color de fondo del ícono */
        background-image: url('/img-cuenco/circulo-contador-flotante.png'); /* Reemplaza con la ruta a tu imagen */
        background-size: cover;
        background-position: center;
      }
    
      #contador-visitas {
        text-align: center;
        color: #fff; /* Color del texto del contador */
        font-weight: bold;
        font-size: 18px; /* Tamaño de fuente del contador */
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra del texto del contador */
      }
    </style>
    
    <!-- Código para el contador de visitas -->
    <div id="floating-icon">
      <div id="contador-visitas">
        <div id="sfcwcffswrbnyeegkwqqd32r5pugf89t8qg"></div>
        <script type="text/javascript" src="https://counter4.optistats.ovh/private/counter.js?c=wcffswrbnyeegkwqqd32r5pugf89t8qg&down=async" async></script>
        <noscript>
          <a href="https://www.contadorvisitasgratis.com" title="contador de visitas para web">
            <img src="https://counter4.optistats.ovh/private/contadorvisitasgratis.php?c=wcffswrbnyeegkwqqd32r5pugf89t8qg" title="contador de visitas para web" alt="contador de visitas para web">
          </a>
        </noscript>
      </div>
    </div>
    
    <style>
      #contador-visitas {
        transform: scale(0.8); /* Ajusta el valor según el tamaño deseado */
      }
    </style>

<style is:global>
  :root {
    --cuenco-azul-claro: #2b72b8;
    --cuenco-azul-oscuro: #3c499e;
    /* --cuenco-verde: #25b998; */
    --cuenco-verde: #00aa84;
    --cuenco-magenta: #b3288f;
    --cuenco-gris: #666;

    --cuenco-magenta-op: #c20a92aa;
  }

  html{
    scroll-behavior: smooth;
  }
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  body{
    margin-left: 0;
    margin-right: 0;
  }



  
</style>
